inferenced/arbit_node-based_equals_3.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/gegenrated" elementFormDefault="qualified">
  <complexType name="html/head/meta">
    <attribute name="http-equiv" type="string" use="required"/>
    <attribute name="content" type="string" use="required"/>
  </complexType>
  <complexType name="html/head/link">
    <attribute name="rel" type="string" use="required"/>
    <attribute name="type" type="string" use="required"/>
    <attribute name="href" type="string" use="required"/>
    <attribute name="media" type="string" use="required"/>
  </complexType>
  <complexType name="html/head/script">
    <attribute name="src" type="string"/>
    <attribute name="type" type="string"/>
    <attribute name="href" type="string"/>
    <attribute name="class" type="string"/>
    <attribute name="title" type="string"/>
    <attribute name="value" type="string"/>
    <attribute name="selected" type="string"/>
    <attribute name="name" type="string"/>
    <attribute name="width" type="string"/>
    <attribute name="height" type="string"/>
    <attribute name="alt" type="string"/>
    <attribute name="colspan" type="string"/>
    <attribute name="disabled" type="string"/>
    <attribute name="checked" type="string"/>
    <attribute name="onclick" type="string"/>
  </complexType>
  <complexType name="html/head">
    <sequence>
      <element name="meta" type="html/head/meta"/>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="link" type="html/head/link"/>
      </sequence>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="script" type="html/head/script"/>
      </sequence>
      <element name="title" type="html/head/script"/>
    </sequence>
  </complexType>
  <complexType name="html/body/h1">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <element name="a" type="html/head/script"/>
    </sequence>
    <attribute name="class" type="string"/>
  </complexType>
  <complexType name="html/body/ul">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <element name="li" type="html/body/h1"/>
    </sequence>
    <attribute name="class" type="string" use="required"/>
  </complexType>
  <complexType name="body/div/ul/li">
    <choice>
      <element name="a" type="html/head/script"/>
      <sequence>
        <element name="h3" type="html/body/h1"/>
        <element name="h4" type="html/body/h1"/>
        <element name="p" type="html/body/h1"/>
      </sequence>
    </choice>
  </complexType>
  <complexType name="html/body/div/ul">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <element name="li" type="body/div/ul/li"/>
    </sequence>
    <attribute name="class" type="string" use="required"/>
  </complexType>
  <complexType name="div/div/ul/li" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <choice>
        <sequence>
          <sequence minOccurs="0" maxOccurs="1">
            <element name="h3" type="html/body/h1"/>
          </sequence>
          <choice>
            <sequence minOccurs="0" maxOccurs="unbounded">
              <element name="span" type="html/head/script"/>
            </sequence>
            <element name="ul" type="li/ul/li/ul"/>
          </choice>
        </sequence>
        <sequence>
          <element name="a" type="html/head/script"/>
          <sequence minOccurs="0" maxOccurs="1">
            <sequence>
              <sequence minOccurs="0" maxOccurs="unbounded">
                <element name="img" type="html/head/script"/>
              </sequence>
              <element name="strong" type="html/body/h1"/>
            </sequence>
          </sequence>
        </sequence>
        <sequence>
          <sequence minOccurs="0" maxOccurs="1">
            <element name="h4" type="html/body/h1"/>
          </sequence>
          <element name="p" type="html/body/h1"/>
        </sequence>
      </choice>
    </sequence>
    <attribute name="class" type="string"/>
    <attribute name="id" type="string"/>
  </complexType>
  <complexType name="body/div/div/ul">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <element name="li" type="div/div/ul/li"/>
    </sequence>
    <attribute name="class" type="string"/>
    <attribute name="id" type="string"/>
  </complexType>
  <complexType name="body/div/div/p" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <choice>
        <element name="a" type="html/head/script"/>
        <element name="br" type="html/head/script"/>
      </choice>
    </sequence>
    <attribute name="class" type="string"/>
  </complexType>
  <complexType name="html/body/div/div">
    <sequence minOccurs="0" maxOccurs="1">
      <sequence minOccurs="1" maxOccurs="unbounded">
        <choice>
          <element name="ul" type="body/div/div/ul"/>
          <element name="p" type="body/div/div/p"/>
          <element name="form" type="body/div/div/form"/>
          <element name="table" type="body/div/div/table"/>
          <element name="div" type="body/div/div/div"/>
          <element name="dl" type="body/div/div/dl"/>
          <element name="h2" type="html/head/script"/>
          <element name="pre" type="html/head/script"/>
          <element name="h3" type="html/head/script"/>
          <element name="script" type="html/head/script"/>
          <element name="code" type="html/head/script"/>
        </choice>
      </sequence>
    </sequence>
    <attribute name="class" type="string" use="required"/>
  </complexType>
  <complexType name="html/body/div">
    <sequence minOccurs="1" maxOccurs="unbounded">
      <choice>
        <element name="ul" type="html/body/div/ul"/>
        <element name="div" type="html/body/div/div"/>
        <element name="h2" type="html/head/script"/>
        <element name="p" type="html/body/h1"/>
      </choice>
    </sequence>
    <attribute name="class" type="string" use="required"/>
  </complexType>
  <complexType name="html/body">
    <sequence>
      <element name="h1" type="html/body/h1"/>
      <sequence minOccurs="0" maxOccurs="1">
        <sequence>
          <element name="h2" type="html/head/script"/>
          <element name="ul" type="html/body/ul"/>
        </sequence>
      </sequence>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="div" type="html/body/div"/>
      </sequence>
    </sequence>
    <attribute name="class" type="string" use="required"/>
    <attribute name="id" type="string"/>
  </complexType>
  <element name="html" type="html"/>
  <complexType name="html">
    <sequence>
      <element name="head" type="html/head"/>
      <element name="body" type="html/body"/>
    </sequence>
    <attribute name="xmlns" type="string" use="required"/>
  </complexType>
  <complexType name="table/thead/tr/th" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <choice>
        <element name="a" type="thead/tr/th/a"/>
        <element name="input" type="html/head/script"/>
      </choice>
    </sequence>
    <attribute name="title" type="string"/>
  </complexType>
  <complexType name="fieldset/table/thead/tr">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <element name="th" type="table/thead/tr/th"/>
    </sequence>
  </complexType>
  <complexType name="form/fieldset/table/thead">
    <element name="tr" type="fieldset/table/thead/tr"/>
  </complexType>
  <complexType name="tbody/tr/td/select">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <element name="option" type="html/head/script"/>
    </sequence>
    <attribute name="size" type="string" use="required"/>
    <attribute name="multiple" type="string"/>
    <attribute name="name" type="string" use="required"/>
  </complexType>
  <complexType name="table/tbody/tr/td" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <sequence minOccurs="1" maxOccurs="unbounded">
        <choice>
          <element name="select" type="tbody/tr/td/select"/>
          <element name="a" type="tbody/tr/td/a"/>
          <element name="img" type="html/head/script"/>
          <element name="code" type="html/head/script"/>
          <element name="input" type="html/head/script"/>
        </choice>
      </sequence>
    </sequence>
    <attribute name="width" type="string"/>
    <attribute name="class" type="string"/>
    <attribute name="style" type="string"/>
  </complexType>
  <complexType name="fieldset/table/tbody/tr">
    <sequence minOccurs="1" maxOccurs="unbounded">
      <choice>
        <element name="td" type="table/tbody/tr/td"/>
        <element name="th" type="html/head/script"/>
      </choice>
    </sequence>
    <attribute name="class" type="string"/>
  </complexType>
  <complexType name="form/fieldset/table/tbody">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <element name="tr" type="fieldset/table/tbody/tr"/>
    </sequence>
  </complexType>
  <complexType name="div/form/fieldset/table">
    <sequence>
      <element name="thead" type="form/fieldset/table/thead"/>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="tbody" type="form/fieldset/table/tbody"/>
      </sequence>
    </sequence>
  </complexType>
  <complexType name="div/form/fieldset/label" mixed="true">
    <element name="input" type="html/head/script"/>
  </complexType>
  <complexType name="div/div/form/fieldset">
    <sequence minOccurs="1" maxOccurs="unbounded">
      <choice>
        <element name="table" type="div/form/fieldset/table"/>
        <element name="label" type="div/form/fieldset/label"/>
        <element name="legend" type="html/head/script"/>
        <element name="input" type="html/head/script"/>
        <element name="div" type="html/head/script"/>
      </choice>
    </sequence>
  </complexType>
  <complexType name="body/div/div/form">
    <choice>
      <element name="fieldset" type="div/div/form/fieldset"/>
      <sequence>
        <element name="select" type="tbody/tr/td/select"/>
        <element name="input" type="html/head/script"/>
      </sequence>
    </choice>
    <attribute name="method" type="string" use="required"/>
    <attribute name="action" type="string" use="required"/>
    <attribute name="onsubmit" type="string"/>
    <attribute name="class" type="string"/>
  </complexType>
  <complexType name="div/div/table/thead">
    <choice>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="th" type="html/head/script"/>
      </sequence>
      <element name="tr" type="fieldset/table/thead/tr"/>
    </choice>
  </complexType>
  <complexType name="tbody/tr/td/a" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <element name="strong" type="html/head/script"/>
    </sequence>
    <attribute name="onclick" type="string"/>
    <attribute name="href" type="string"/>
  </complexType>
  <complexType name="div/table/tbody/tr">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <element name="td" type="table/tbody/tr/td"/>
    </sequence>
    <attribute name="class" type="string" use="required"/>
  </complexType>
  <complexType name="div/div/table/tbody">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <element name="tr" type="div/table/tbody/tr"/>
    </sequence>
  </complexType>
  <complexType name="body/div/div/table">
    <sequence>
      <element name="thead" type="div/div/table/thead"/>
      <element name="tbody" type="div/div/table/tbody"/>
    </sequence>
    <attribute name="class" type="string" use="required"/>
  </complexType>
  <complexType name="thead/tr/th/a" mixed="true">
    <element name="img" type="html/head/script"/>
    <attribute name="href" type="string" use="required"/>
  </complexType>
  <complexType name="ul/li/ul/li" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <choice>
        <element name="ul" type="li/ul/li/ul"/>
        <element name="span" type="html/head/script"/>
        <sequence>
          <element name="img" type="html/head/script"/>
          <element name="a" type="thead/tr/th/a"/>
        </sequence>
      </choice>
    </sequence>
  </complexType>
  <complexType name="li/ul/li/ul">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <element name="li" type="ul/li/ul/li"/>
    </sequence>
    <attribute name="class" type="string"/>
  </complexType>
  <complexType name="body/div/div/div">
    <choice>
      <element name="ul" type="body/div/div/ul"/>
      <sequence>
        <choice>
          <element name="h4" type="html/head/script"/>
          <element name="dl" type="html/head/script"/>
        </choice>
        <element name="div" type="div/div/div/div"/>
        <sequence minOccurs="0" maxOccurs="1">
          <element name="a" type="html/head/script"/>
        </sequence>
      </sequence>
    </choice>
    <attribute name="class" type="string" use="required"/>
  </complexType>
  <complexType name="div/div/div/div">
    <sequence minOccurs="1" maxOccurs="unbounded">
      <choice>
        <element name="div" type="div/div/div/div"/>
        <element name="span" type="html/head/script"/>
        <element name="h2" type="html/body/h1"/>
        <element name="p" type="html/body/h1"/>
        <element name="h3" type="html/body/h1"/>
        <element name="ul" type="body/div/div/ul"/>
      </choice>
    </sequence>
    <attribute name="class" type="string" use="required"/>
    <attribute name="style" type="string"/>
  </complexType>
  <complexType name="body/div/div/dl">
    <choice>
      <element name="dt" type="html/head/script"/>
      <element name="dd" type="html/head/script"/>
    </choice>
    <attribute name="class" type="string" use="required"/>
  </complexType>
</schema>
