inferenced/dblp_exact_same_n.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/gegenrated" elementFormDefault="qualified">
  <complexType name="dblp/mastersthesis/author">
    <simpleContent>
      <extension base="string">
        <attribute name="href" type="string"/>
      </extension>
    </simpleContent>
  </complexType>
  <complexType name="dblp/mastersthesis">
    <sequence>
      <element name="author" type="dblp/mastersthesis/author"/>
      <element name="title" type="dblp/mastersthesis/author"/>
      <element name="year" type="dblp/mastersthesis/author"/>
      <element name="school" type="dblp/mastersthesis/author"/>
    </sequence>
    <attribute name="mdate" type="string" use="required"/>
    <attribute name="key" type="string" use="required"/>
  </complexType>
  <complexType name="dblp/article/title" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <sequence minOccurs="1" maxOccurs="unbounded">
        <choice>
          <element name="sub" type="dblp/article/title/sub"/>
          <element name="sup" type="dblp/article/title/sup"/>
          <element name="i" type="dblp/article/title/i"/>
          <element name="tt" type="string"/>
        </choice>
      </sequence>
    </sequence>
  </complexType>
  <complexType name="dblp/article">
    <sequence minOccurs="1" maxOccurs="unbounded">
      <choice>
        <element name="title" type="dblp/article/title"/>
        <element name="editor" type="dblp/mastersthesis/author"/>
        <element name="journal" type="dblp/mastersthesis/author"/>
        <element name="volume" type="dblp/mastersthesis/author"/>
        <element name="year" type="dblp/mastersthesis/author"/>
        <element name="ee" type="dblp/mastersthesis/author"/>
        <element name="cdrom" type="dblp/mastersthesis/author"/>
        <element name="author" type="dblp/mastersthesis/author"/>
        <element name="month" type="dblp/mastersthesis/author"/>
        <element name="url" type="dblp/mastersthesis/author"/>
        <element name="publisher" type="dblp/mastersthesis/author"/>
        <element name="cite" type="dblp/proceedings/volume"/>
        <element name="pages" type="string"/>
        <element name="number" type="string"/>
      </choice>
    </sequence>
    <attribute name="mdate" type="string" use="required"/>
    <attribute name="key" type="string" use="required"/>
    <attribute name="reviewid" type="string"/>
    <attribute name="rating" type="string"/>
  </complexType>
  <complexType name="dblp/article/title/sub" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <choice>
        <element name="i" type="string"/>
        <element name="sub" type="string"/>
        <element name="sup" type="dblp/article/title/sup/sup"/>
      </choice>
    </sequence>
  </complexType>
  <complexType name="dblp/article/title/sup" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <sequence minOccurs="1" maxOccurs="unbounded">
        <choice>
          <element name="sup" type="dblp/article/title/sup/sup"/>
          <element name="i" type="string"/>
          <element name="sub" type="string"/>
        </choice>
      </sequence>
    </sequence>
  </complexType>
  <complexType name="dblp/proceedings/title" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <choice>
        <sequence minOccurs="0" maxOccurs="unbounded">
          <element name="sup" type="dblp/proceedings/volume"/>
        </sequence>
        <element name="sub" type="string"/>
      </choice>
    </sequence>
  </complexType>
  <complexType name="dblp/proceedings/volume">
    <simpleContent>
      <extension base="string">
        <attribute name="label" type="string"/>
      </extension>
    </simpleContent>
  </complexType>
  <complexType name="dblp/proceedings">
    <sequence minOccurs="1" maxOccurs="unbounded">
      <choice>
        <element name="title" type="dblp/proceedings/title"/>
        <element name="volume" type="dblp/proceedings/volume"/>
        <element name="editor" type="dblp/mastersthesis/author"/>
        <element name="booktitle" type="dblp/mastersthesis/author"/>
        <element name="series" type="dblp/mastersthesis/author"/>
        <element name="publisher" type="dblp/mastersthesis/author"/>
        <element name="year" type="dblp/proceedings/volume"/>
        <element name="url" type="dblp/proceedings/volume"/>
        <element name="isbn" type="dblp/proceedings/volume"/>
        <element name="author" type="dblp/proceedings/volume"/>
        <element name="cite" type="dblp/proceedings/volume"/>
        <element name="number" type="string"/>
        <element name="address" type="string"/>
        <element name="crossref" type="string"/>
        <element name="month" type="string"/>
        <element name="note" type="string"/>
        <element name="ee" type="string"/>
        <element name="journal" type="string"/>
      </choice>
    </sequence>
    <attribute name="mdate" type="string" use="required"/>
    <attribute name="key" type="string" use="required"/>
  </complexType>
  <complexType name="dblp/phdthesis">
    <choice>
      <element name="author" type="dblp/proceedings/volume"/>
      <element name="title" type="dblp/proceedings/volume"/>
      <element name="year" type="dblp/proceedings/volume"/>
      <element name="school" type="dblp/proceedings/volume"/>
      <element name="series" type="dblp/proceedings/volume"/>
      <element name="number" type="dblp/proceedings/volume"/>
      <element name="publisher" type="dblp/proceedings/volume"/>
      <element name="month" type="dblp/proceedings/volume"/>
      <element name="isbn" type="dblp/proceedings/volume"/>
      <element name="ee" type="dblp/proceedings/volume"/>
    </choice>
    <attribute name="mdate" type="string" use="required"/>
    <attribute name="key" type="string" use="required"/>
  </complexType>
  <complexType name="dblp/www">
    <sequence>
      <choice>
        <sequence minOccurs="0" maxOccurs="unbounded">
          <element name="author" type="dblp/proceedings/volume"/>
        </sequence>
        <sequence minOccurs="0" maxOccurs="unbounded">
          <element name="editor" type="dblp/proceedings/volume"/>
        </sequence>
      </choice>
      <element name="title" type="dblp/proceedings/volume"/>
      <sequence minOccurs="0" maxOccurs="1">
        <sequence>
          <sequence minOccurs="0" maxOccurs="1">
            <element name="booktitle" type="dblp/proceedings/volume"/>
          </sequence>
          <element name="year" type="dblp/proceedings/volume"/>
        </sequence>
      </sequence>
      <element name="url" type="dblp/proceedings/volume"/>
    </sequence>
    <attribute name="mdate" type="string" use="required"/>
    <attribute name="key" type="string" use="required"/>
  </complexType>
  <complexType name="dblp/inproceedings/title" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <sequence minOccurs="1" maxOccurs="unbounded">
        <choice>
          <element name="sub" type="dblp/inproceedings/title/sub"/>
          <element name="sup" type="dblp/inproceedings/title/sup"/>
          <element name="i" type="dblp/inproceedings/title/i"/>
          <element name="tt" type="string"/>
        </choice>
      </sequence>
    </sequence>
  </complexType>
  <complexType name="dblp/inproceedings">
    <sequence minOccurs="1" maxOccurs="unbounded">
      <choice>
        <element name="title" type="dblp/inproceedings/title"/>
        <element name="author" type="dblp/proceedings/volume"/>
        <element name="pages" type="dblp/proceedings/volume"/>
        <element name="year" type="dblp/proceedings/volume"/>
        <element name="crossref" type="dblp/proceedings/volume"/>
        <element name="booktitle" type="dblp/proceedings/volume"/>
        <element name="ee" type="dblp/proceedings/volume"/>
        <element name="url" type="dblp/proceedings/volume"/>
        <element name="cdrom" type="dblp/proceedings/volume"/>
        <element name="cite" type="dblp/proceedings/volume"/>
        <element name="number" type="string"/>
        <element name="note" type="string"/>
        <element name="month" type="string"/>
      </choice>
    </sequence>
    <attribute name="mdate" type="string" use="required"/>
    <attribute name="key" type="string" use="required"/>
  </complexType>
  <complexType name="dblp/inproceedings/title/sub" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <choice>
        <element name="sup" type="string"/>
        <element name="i" type="string"/>
      </choice>
    </sequence>
  </complexType>
  <complexType name="dblp/inproceedings/title/sup" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <choice>
        <element name="i" type="string"/>
        <element name="sup" type="string"/>
      </choice>
    </sequence>
  </complexType>
  <complexType name="dblp/inproceedings/title/i" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <choice>
        <element name="sub" type="string"/>
        <element name="sup" type="string"/>
      </choice>
    </sequence>
  </complexType>
  <complexType name="dblp/book">
    <choice>
      <element name="publisher" type="dblp/mastersthesis/author"/>
      <element name="series" type="dblp/mastersthesis/author"/>
      <element name="cite" type="dblp/proceedings/volume"/>
      <element name="author" type="string"/>
      <element name="title" type="string"/>
      <element name="year" type="string"/>
      <element name="isbn" type="string"/>
      <element name="editor" type="string"/>
      <element name="url" type="string"/>
      <element name="cdrom" type="string"/>
      <element name="booktitle" type="string"/>
      <element name="volume" type="string"/>
      <element name="month" type="string"/>
      <element name="ee" type="string"/>
    </choice>
    <attribute name="mdate" type="string" use="required"/>
    <attribute name="key" type="string" use="required"/>
  </complexType>
  <complexType name="dblp/incollection/title" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <element name="sup" type="string"/>
    </sequence>
  </complexType>
  <complexType name="dblp/incollection">
    <sequence minOccurs="1" maxOccurs="unbounded">
      <choice>
        <element name="title" type="dblp/incollection/title"/>
        <element name="publisher" type="dblp/mastersthesis/author"/>
        <element name="cite" type="dblp/proceedings/volume"/>
        <element name="author" type="string"/>
        <element name="pages" type="string"/>
        <element name="year" type="string"/>
        <element name="booktitle" type="string"/>
        <element name="url" type="string"/>
        <element name="ee" type="string"/>
        <element name="cdrom" type="string"/>
        <element name="crossref" type="string"/>
        <element name="isbn" type="string"/>
        <element name="chapter" type="string"/>
      </choice>
    </sequence>
    <attribute name="mdate" type="string" use="required"/>
    <attribute name="key" type="string" use="required"/>
  </complexType>
  <complexType name="dblp/article/title/i" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <choice>
        <sequence minOccurs="0" maxOccurs="unbounded">
          <element name="sub" type="dblp/article/title/i/sub"/>
        </sequence>
        <element name="sup" type="string"/>
      </choice>
    </sequence>
  </complexType>
  <complexType name="dblp/article/title/sup/sup" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <element name="i" type="string"/>
    </sequence>
  </complexType>
  <complexType name="dblp/article/title/i/sub" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <element name="sub" type="string"/>
    </sequence>
  </complexType>
  <element name="dblp" type="dblp"/>
  <complexType name="dblp">
    <sequence minOccurs="1" maxOccurs="unbounded">
      <choice>
        <element name="mastersthesis" type="dblp/mastersthesis"/>
        <element name="article" type="dblp/article"/>
        <element name="proceedings" type="dblp/proceedings"/>
        <element name="phdthesis" type="dblp/phdthesis"/>
        <element name="www" type="dblp/www"/>
        <element name="inproceedings" type="dblp/inproceedings"/>
        <element name="book" type="dblp/book"/>
        <element name="incollection" type="dblp/incollection"/>
      </choice>
    </sequence>
  </complexType>
</schema>
