inferenced/mhgta_subsumed_merge_3.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/gegenrated" elementFormDefault="qualified">
  <complexType name="teiHeader/fileDesc/titleStmt/title" mixed="true">
    <sequence minOccurs="1" maxOccurs="unbounded">
      <choice>
        <element name="resp" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="name" type="teiHeader/fileDesc/titleStmt/title"/>
      </choice>
    </sequence>
    <attribute name="type" type="string"/>
    <attribute name="TEIform" type="string"/>
    <attribute name="role" type="string"/>
    <attribute name="n" type="string"/>
    <attribute name="place" type="string"/>
    <attribute name="anchored" type="string"/>
    <attribute name="level" type="string"/>
    <attribute name="part" type="string"/>
    <attribute name="id" type="string"/>
    <attribute name="unit" type="string"/>
    <attribute name="rend" type="string"/>
    <attribute name="ed" type="string"/>
    <attribute name="extent" type="string"/>
    <attribute name="resp" type="string"/>
    <attribute name="sic" type="string"/>
    <attribute name="lemma" type="string"/>
    <attribute name="reg" type="string"/>
    <attribute name="targets" type="string"/>
    <attribute name="targOrder" type="string"/>
    <attribute name="lang" type="string"/>
  </complexType>
  <complexType name="TEI.2/teiHeader/fileDesc/titleStmt">
    <sequence>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="title" type="teiHeader/fileDesc/titleStmt/title"/>
      </sequence>
      <element name="author" type="teiHeader/fileDesc/titleStmt/title"/>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="editor" type="teiHeader/fileDesc/titleStmt/title"/>
      </sequence>
      <element name="respStmt" type="teiHeader/fileDesc/titleStmt/title"/>
    </sequence>
    <attribute name="TEIform" type="string"/>
  </complexType>
  <complexType name="teiHeader/fileDesc/publicationStmt/availability">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <element name="p" type="teiHeader/fileDesc/titleStmt/title"/>
    </sequence>
    <attribute name="TEIform" type="string"/>
    <attribute name="default" type="string"/>
    <attribute name="doctype" type="string"/>
  </complexType>
  <complexType name="TEI.2/teiHeader/fileDesc/publicationStmt">
    <sequence minOccurs="1" maxOccurs="unbounded">
      <choice>
        <element name="availability" type="teiHeader/fileDesc/publicationStmt/availability"/>
        <element name="publisher" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="pubPlace" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="idno" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="date" type="teiHeader/fileDesc/titleStmt/title"/>
      </choice>
    </sequence>
    <attribute name="TEIform" type="string"/>
  </complexType>
  <complexType name="teiHeader/fileDesc/seriesStmt/p" mixed="true">
    <choice>
      <element name="note" type="teiHeader/fileDesc/titleStmt/title"/>
      <element name="hi" type="body/div1/head/hi"/>
      <element name="lb" type="teiHeader/fileDesc/titleStmt/title"/>
      <element name="milestone" type="teiHeader/fileDesc/titleStmt/title"/>
      <element name="fw" type="div1/lg/l/w"/>
    </choice>
    <attribute name="TEIform" type="string"/>
    <attribute name="type" type="string"/>
    <attribute name="rend" type="string"/>
    <attribute name="id" type="string"/>
    <attribute name="n" type="string"/>
    <attribute name="lang" type="string"/>
    <attribute name="reg" type="string"/>
    <attribute name="part" type="string"/>
  </complexType>
  <complexType name="TEI.2/teiHeader/fileDesc/seriesStmt">
    <element name="p" type="teiHeader/fileDesc/seriesStmt/p"/>
    <attribute name="TEIform" type="string"/>
  </complexType>
  <complexType name="fileDesc/sourceDesc/biblFull/titleStmt">
    <sequence>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="title" type="teiHeader/fileDesc/titleStmt/title"/>
      </sequence>
      <element name="author" type="teiHeader/fileDesc/titleStmt/title"/>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="editor" type="teiHeader/fileDesc/titleStmt/title"/>
      </sequence>
    </sequence>
    <attribute name="TEIform" type="string"/>
  </complexType>
  <complexType name="fileDesc/sourceDesc/biblFull/publicationStmt">
    <sequence>
      <element name="publisher" type="teiHeader/fileDesc/titleStmt/title"/>
      <element name="pubPlace" type="teiHeader/fileDesc/titleStmt/title"/>
      <element name="date" type="teiHeader/fileDesc/titleStmt/title"/>
      <element name="idno" type="teiHeader/fileDesc/titleStmt/title"/>
    </sequence>
    <attribute name="TEIform" type="string"/>
  </complexType>
  <complexType name="teiHeader/fileDesc/sourceDesc/biblFull">
    <sequence>
      <element name="titleStmt" type="fileDesc/sourceDesc/biblFull/titleStmt"/>
      <element name="editionStmt" type="teiHeader/fileDesc/publicationStmt/availability"/>
      <element name="extent" type="teiHeader/fileDesc/titleStmt/title"/>
      <element name="publicationStmt" type="fileDesc/sourceDesc/biblFull/publicationStmt"/>
      <element name="seriesStmt" type="teiHeader/fileDesc/publicationStmt/availability"/>
      <element name="notesStmt" type="teiHeader/fileDesc/seriesStmt/p"/>
    </sequence>
    <attribute name="default" type="string"/>
    <attribute name="TEIform" type="string"/>
  </complexType>
  <complexType name="TEI.2/teiHeader/fileDesc/sourceDesc">
    <element name="biblFull" type="teiHeader/fileDesc/sourceDesc/biblFull"/>
    <attribute name="default" type="string"/>
    <attribute name="TEIform" type="string"/>
  </complexType>
  <complexType name="TEI.2/teiHeader/fileDesc">
    <sequence>
      <element name="titleStmt" type="TEI.2/teiHeader/fileDesc/titleStmt"/>
      <element name="extent" type="teiHeader/fileDesc/titleStmt/title"/>
      <element name="publicationStmt" type="TEI.2/teiHeader/fileDesc/publicationStmt"/>
      <element name="seriesStmt" type="TEI.2/teiHeader/fileDesc/seriesStmt"/>
      <element name="notesStmt" type="teiHeader/fileDesc/seriesStmt/p"/>
      <element name="sourceDesc" type="TEI.2/teiHeader/fileDesc/sourceDesc"/>
    </sequence>
    <attribute name="TEIform" type="string"/>
  </complexType>
  <complexType name="teiHeader/encodingDesc/editorialDecl/p" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <choice>
        <element name="seg" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="lb" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="note" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="cb" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="name" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="hi" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="sic" type="teiHeader/fileDesc/titleStmt/title"/>
      </choice>
    </sequence>
    <attribute name="id" type="string"/>
    <attribute name="TEIform" type="string"/>
    <attribute name="type" type="string"/>
  </complexType>
  <complexType name="TEI.2/teiHeader/encodingDesc/editorialDecl">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <element name="p" type="teiHeader/encodingDesc/editorialDecl/p"/>
    </sequence>
    <attribute name="default" type="string"/>
    <attribute name="TEIform" type="string"/>
  </complexType>
  <complexType name="encodingDesc/classDecl/taxonomy/bibl">
    <element name="title" type="teiHeader/fileDesc/titleStmt/title"/>
    <attribute name="default" type="string"/>
    <attribute name="TEIform" type="string"/>
  </complexType>
  <complexType name="teiHeader/encodingDesc/classDecl/taxonomy">
    <element name="bibl" type="encodingDesc/classDecl/taxonomy/bibl"/>
    <attribute name="id" type="string" use="required"/>
    <attribute name="TEIform" type="string"/>
  </complexType>
  <complexType name="TEI.2/teiHeader/encodingDesc/classDecl">
    <element name="taxonomy" type="teiHeader/encodingDesc/classDecl/taxonomy"/>
    <attribute name="TEIform" type="string"/>
  </complexType>
  <complexType name="TEI.2/teiHeader/encodingDesc">
    <sequence>
      <element name="projectDesc" type="teiHeader/fileDesc/publicationStmt/availability"/>
      <element name="editorialDecl" type="TEI.2/teiHeader/encodingDesc/editorialDecl"/>
      <element name="refsDecl" type="teiHeader/fileDesc/publicationStmt/availability"/>
      <element name="classDecl" type="TEI.2/teiHeader/encodingDesc/classDecl"/>
    </sequence>
    <attribute name="TEIform" type="string"/>
  </complexType>
  <complexType name="TEI.2/teiHeader/profileDesc/creation">
    <choice>
      <element name="date" type="teiHeader/fileDesc/titleStmt/title"/>
      <element name="pubPlace" type="teiHeader/fileDesc/titleStmt/title"/>
      <element name="publisher" type="teiHeader/fileDesc/titleStmt/title"/>
      <element name="lb" type="teiHeader/fileDesc/titleStmt/title"/>
    </choice>
    <attribute name="TEIform" type="string"/>
  </complexType>
  <complexType name="TEI.2/teiHeader/profileDesc/langUsage">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <element name="language" type="teiHeader/fileDesc/titleStmt/title"/>
    </sequence>
    <attribute name="default" type="string"/>
    <attribute name="TEIform" type="string"/>
  </complexType>
  <complexType name="teiHeader/profileDesc/textClass/keywords">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <element name="term" type="teiHeader/fileDesc/titleStmt/title"/>
    </sequence>
    <attribute name="TEIform" type="string"/>
    <attribute name="scheme" type="string"/>
  </complexType>
  <complexType name="TEI.2/teiHeader/profileDesc/textClass">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <element name="keywords" type="teiHeader/profileDesc/textClass/keywords"/>
    </sequence>
    <attribute name="default" type="string"/>
    <attribute name="TEIform" type="string"/>
  </complexType>
  <complexType name="TEI.2/teiHeader/profileDesc">
    <sequence>
      <element name="creation" type="TEI.2/teiHeader/profileDesc/creation"/>
      <element name="langUsage" type="TEI.2/teiHeader/profileDesc/langUsage"/>
      <element name="textClass" type="TEI.2/teiHeader/profileDesc/textClass"/>
    </sequence>
    <attribute name="TEIform" type="string"/>
  </complexType>
  <complexType name="teiHeader/revisionDesc/change/item" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <choice>
        <element name="lb" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="gap" type="teiHeader/fileDesc/titleStmt/title"/>
      </choice>
    </sequence>
    <attribute name="TEIform" type="string"/>
  </complexType>
  <complexType name="TEI.2/teiHeader/revisionDesc/change">
    <sequence>
      <element name="date" type="teiHeader/fileDesc/titleStmt/title"/>
      <element name="respStmt" type="teiHeader/fileDesc/titleStmt/title"/>
      <element name="item" type="teiHeader/revisionDesc/change/item"/>
    </sequence>
    <attribute name="TEIform" type="string"/>
  </complexType>
  <complexType name="TEI.2/teiHeader/revisionDesc">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <element name="change" type="TEI.2/teiHeader/revisionDesc/change"/>
    </sequence>
    <attribute name="TEIform" type="string"/>
  </complexType>
  <complexType name="TEI.2/teiHeader">
    <sequence>
      <element name="fileDesc" type="TEI.2/teiHeader/fileDesc"/>
      <element name="encodingDesc" type="TEI.2/teiHeader/encodingDesc"/>
      <element name="profileDesc" type="TEI.2/teiHeader/profileDesc"/>
      <element name="revisionDesc" type="TEI.2/teiHeader/revisionDesc"/>
    </sequence>
    <attribute name="type" type="string" use="required"/>
    <attribute name="status" type="string"/>
    <attribute name="TEIform" type="string"/>
  </complexType>
  <complexType name="text/front/titlePage/docTitle">
    <choice>
      <element name="lb" type="teiHeader/fileDesc/titleStmt/title"/>
      <element name="titlePart" type="teiHeader/encodingDesc/editorialDecl/p"/>
    </choice>
    <attribute name="TEIform" type="string"/>
  </complexType>
  <complexType name="text/front/titlePage/docEdition" mixed="true">
    <choice>
      <element name="lb" type="teiHeader/fileDesc/titleStmt/title"/>
      <element name="name" type="teiHeader/fileDesc/titleStmt/title"/>
    </choice>
    <attribute name="TEIform" type="string"/>
    <attribute name="lang" type="string"/>
  </complexType>
  <complexType name="TEI.2/text/front/titlePage">
    <sequence minOccurs="1" maxOccurs="unbounded">
      <choice>
        <element name="docTitle" type="text/front/titlePage/docTitle"/>
        <element name="docEdition" type="text/front/titlePage/docEdition"/>
        <element name="byline" type="text/front/titlePage/byline"/>
        <element name="epigraph" type="text/front/titlePage/epigraph"/>
        <element name="docAuthor" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="imprimatur" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="docImprint" type="TEI.2/teiHeader/profileDesc/creation"/>
      </choice>
    </sequence>
    <attribute name="TEIform" type="string"/>
  </complexType>
  <complexType name="TEI.2/text/front">
    <element name="titlePage" type="TEI.2/text/front/titlePage"/>
    <attribute name="TEIform" type="string"/>
  </complexType>
  <complexType name="body/div1/head/hi" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <sequence minOccurs="1" maxOccurs="unbounded">
        <choice>
          <element name="hi" type="div1/head/hi/hi"/>
          <element name="corr" type="teiHeader/fileDesc/titleStmt/title"/>
          <element name="lb" type="teiHeader/fileDesc/titleStmt/title"/>
          <element name="orig" type="teiHeader/fileDesc/seriesStmt/p"/>
        </choice>
      </sequence>
    </sequence>
    <attribute name="rend" type="string"/>
    <attribute name="TEIform" type="string"/>
  </complexType>
  <complexType name="div1/lg/l/fw" mixed="true">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <element name="hi" type="teiHeader/fileDesc/seriesStmt/p"/>
    </sequence>
    <attribute name="type" type="string"/>
    <attribute name="TEIform" type="string"/>
    <attribute name="n" type="string"/>
  </complexType>
  <complexType name="div1/lg/l/hi" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <sequence minOccurs="1" maxOccurs="unbounded">
        <choice>
          <element name="hi" type="lg/l/hi/hi"/>
          <element name="w" type="lg/l/hi/w"/>
          <element name="note" type="teiHeader/fileDesc/titleStmt/title"/>
          <element name="lb" type="teiHeader/fileDesc/titleStmt/title"/>
          <element name="caesura" type="teiHeader/fileDesc/titleStmt/title"/>
        </choice>
      </sequence>
    </sequence>
    <attribute name="rend" type="string"/>
    <attribute name="TEIform" type="string"/>
  </complexType>
  <complexType name="body/div1/lg/l" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <sequence minOccurs="1" maxOccurs="unbounded">
        <choice>
          <element name="fw" type="div1/lg/l/fw"/>
          <element name="hi" type="div1/lg/l/hi"/>
          <element name="w" type="div1/lg/l/w"/>
          <element name="gap" type="teiHeader/fileDesc/titleStmt/title"/>
          <element name="note" type="teiHeader/fileDesc/titleStmt/title"/>
          <element name="lb" type="teiHeader/fileDesc/titleStmt/title"/>
          <element name="milestone" type="teiHeader/fileDesc/titleStmt/title"/>
          <element name="pb" type="teiHeader/fileDesc/titleStmt/title"/>
          <element name="foreign" type="teiHeader/fileDesc/seriesStmt/p"/>
          <element name="seg" type="teiHeader/fileDesc/seriesStmt/p"/>
          <element name="name" type="body/div1/lg/fw"/>
          <element name="orig" type="body/div1/lg/fw"/>
          <element name="corr" type="body/div1/lg/fw"/>
        </choice>
      </sequence>
    </sequence>
    <attribute name="id" type="string"/>
    <attribute name="n" type="string"/>
    <attribute name="part" type="string"/>
    <attribute name="TEIform" type="string"/>
    <attribute name="rend" type="string"/>
    <attribute name="type" type="string"/>
  </complexType>
  <complexType name="body/div1/lg/fw" mixed="true">
    <choice>
      <element name="hi" type="teiHeader/fileDesc/titleStmt/title"/>
      <element name="lb" type="teiHeader/fileDesc/titleStmt/title"/>
      <element name="w" type="teiHeader/fileDesc/titleStmt/title"/>
      <element name="name" type="body/div1/lg/fw"/>
    </choice>
    <attribute name="TEIform" type="string"/>
    <attribute name="reg" type="string"/>
    <attribute name="rend" type="string"/>
    <attribute name="n" type="string"/>
    <attribute name="targOrder" type="string"/>
    <attribute name="sic" type="string"/>
    <attribute name="resp" type="string"/>
    <attribute name="type" type="string"/>
    <attribute name="direct" type="string"/>
  </complexType>
  <complexType name="lg/l/hi/hi" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <sequence minOccurs="1" maxOccurs="unbounded">
        <choice>
          <element name="hi" type="l/hi/hi/hi"/>
          <element name="note" type="teiHeader/fileDesc/titleStmt/title"/>
          <element name="name" type="teiHeader/fileDesc/titleStmt/title"/>
          <element name="pb" type="teiHeader/fileDesc/titleStmt/title"/>
          <element name="w" type="body/div1/lg1/head"/>
        </choice>
      </sequence>
    </sequence>
    <attribute name="rend" type="string"/>
    <attribute name="TEIform" type="string"/>
  </complexType>
  <complexType name="text/body/div1/lg">
    <sequence minOccurs="1" maxOccurs="unbounded">
      <choice>
        <element name="l" type="body/div1/lg/l"/>
        <element name="fw" type="body/div1/lg/fw"/>
        <element name="pb" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="milestone" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="lb" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="gap" type="teiHeader/fileDesc/titleStmt/title"/>
      </choice>
    </sequence>
    <attribute name="type" type="string"/>
    <attribute name="sample" type="string"/>
    <attribute name="part" type="string"/>
    <attribute name="org" type="string"/>
    <attribute name="TEIform" type="string"/>
    <attribute name="n" type="string"/>
  </complexType>
  <complexType name="TEI.2/text/body/div1">
    <sequence minOccurs="1" maxOccurs="unbounded">
      <choice>
        <element name="lg" type="text/body/div1/lg"/>
        <element name="lg1" type="text/body/div1/lg1"/>
        <element name="p" type="text/body/div1/p"/>
        <element name="div2" type="text/body/div1/div2"/>
        <element name="pb" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="milestone" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="fw" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="lb" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="head" type="teiHeader/fileDesc/seriesStmt/p"/>
      </choice>
    </sequence>
    <attribute name="id" type="string"/>
    <attribute name="n" type="string"/>
    <attribute name="sample" type="string"/>
    <attribute name="part" type="string"/>
    <attribute name="org" type="string"/>
    <attribute name="TEIform" type="string"/>
    <attribute name="type" type="string"/>
    <attribute name="rend" type="string"/>
  </complexType>
  <complexType name="TEI.2/text/body">
    <sequence minOccurs="1" maxOccurs="unbounded">
      <choice>
        <element name="div1" type="TEI.2/text/body/div1"/>
        <element name="pb" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="milestone" type="teiHeader/fileDesc/titleStmt/title"/>
      </choice>
    </sequence>
    <attribute name="TEIform" type="string"/>
  </complexType>
  <complexType name="TEI.2/text">
    <sequence>
      <sequence minOccurs="0" maxOccurs="1">
        <element name="front" type="TEI.2/text/front"/>
      </sequence>
      <element name="body" type="TEI.2/text/body"/>
    </sequence>
    <attribute name="id" type="string"/>
    <attribute name="TEIform" type="string"/>
  </complexType>
  <element name="TEI.2" type="TEI.2"/>
  <complexType name="TEI.2">
    <sequence>
      <element name="teiHeader" type="TEI.2/teiHeader"/>
      <element name="text" type="TEI.2/text"/>
    </sequence>
    <attribute name="id" type="string" use="required"/>
    <attribute name="TEIform" type="string"/>
  </complexType>
  <complexType name="div1/head/hi/hi" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <choice>
        <element name="hi" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="lb" type="teiHeader/fileDesc/titleStmt/title"/>
      </choice>
    </sequence>
    <attribute name="rend" type="string"/>
    <attribute name="TEIform" type="string"/>
  </complexType>
  <complexType name="div1/lg/l/w" mixed="true">
    <sequence minOccurs="1" maxOccurs="unbounded">
      <choice>
        <element name="w" type="lg/l/w/w"/>
        <element name="add" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="gap" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="hi" type="body/div1/lg/fw"/>
        <element name="orig" type="body/div1/lg/fw"/>
      </choice>
    </sequence>
    <attribute name="type" type="string"/>
    <attribute name="part" type="string"/>
    <attribute name="TEIform" type="string"/>
  </complexType>
  <complexType name="text/front/titlePage/byline" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <element name="docAuthor" type="teiHeader/fileDesc/titleStmt/title"/>
    </sequence>
    <attribute name="TEIform" type="string"/>
  </complexType>
  <complexType name="body/div1/lg1/head" mixed="true">
    <choice>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="hi" type="teiHeader/fileDesc/titleStmt/title"/>
      </sequence>
      <element name="fw" type="div1/lg/l/w"/>
      <element name="add" type="teiHeader/fileDesc/titleStmt/title"/>
      <element name="w" type="div1/lg/l/w"/>
      <element name="orig" type="div2/p/w/orig"/>
    </choice>
    <attribute name="TEIform" type="string" use="required"/>
    <attribute name="type" type="string"/>
    <attribute name="part" type="string"/>
  </complexType>
  <complexType name="lg2/l/fw/hi" mixed="true">
    <sequence>
      <sequence minOccurs="0" maxOccurs="1">
        <element name="corr" type="teiHeader/fileDesc/titleStmt/title"/>
      </sequence>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="hi" type="body/div1/head/hi"/>
      </sequence>
    </sequence>
    <attribute name="TEIform" type="string" use="required"/>
  </complexType>
  <complexType name="lg1/lg2/l/fw" mixed="true">
    <element name="hi" type="lg2/l/fw/hi"/>
    <attribute name="type" type="string" use="required"/>
    <attribute name="TEIform" type="string" use="required"/>
  </complexType>
  <complexType name="lg1/lg2/l/hi" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <choice>
        <element name="hi" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="lb" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="corr" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="orig" type="body/div1/lg/fw"/>
      </choice>
    </sequence>
    <attribute name="rend" type="string"/>
    <attribute name="TEIform" type="string" use="required"/>
  </complexType>
  <complexType name="div1/lg1/lg2/l" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <sequence minOccurs="1" maxOccurs="unbounded">
        <choice>
          <element name="fw" type="lg1/lg2/l/fw"/>
          <element name="hi" type="lg1/lg2/l/hi"/>
          <element name="lb" type="teiHeader/fileDesc/titleStmt/title"/>
          <element name="corr" type="teiHeader/fileDesc/titleStmt/title"/>
          <element name="gap" type="teiHeader/fileDesc/titleStmt/title"/>
          <element name="orig" type="body/div1/lg/fw"/>
        </choice>
      </sequence>
    </sequence>
    <attribute name="id" type="string" use="required"/>
    <attribute name="n" type="string" use="required"/>
    <attribute name="part" type="string" use="required"/>
    <attribute name="TEIform" type="string" use="required"/>
    <attribute name="rend" type="string"/>
  </complexType>
  <complexType name="body/div1/lg1/lg2">
    <sequence minOccurs="1" maxOccurs="unbounded">
      <choice>
        <element name="l" type="div1/lg1/lg2/l"/>
        <element name="milestone" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="pb" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="fw" type="body/div1/lg/fw"/>
      </choice>
    </sequence>
    <attribute name="sample" type="string" use="required"/>
    <attribute name="part" type="string" use="required"/>
    <attribute name="org" type="string" use="required"/>
    <attribute name="TEIform" type="string" use="required"/>
  </complexType>
  <complexType name="text/body/div1/lg1">
    <sequence>
      <sequence minOccurs="0" maxOccurs="1">
        <sequence>
          <element name="head" type="body/div1/lg1/head"/>
          <sequence minOccurs="0" maxOccurs="unbounded">
            <element name="milestone" type="teiHeader/fileDesc/titleStmt/title"/>
          </sequence>
        </sequence>
      </sequence>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="lg2" type="body/div1/lg1/lg2"/>
      </sequence>
    </sequence>
    <attribute name="sample" type="string" use="required"/>
    <attribute name="part" type="string" use="required"/>
    <attribute name="org" type="string" use="required"/>
    <attribute name="TEIform" type="string" use="required"/>
  </complexType>
  <complexType name="body/div1/p/foreign" mixed="true">
    <choice>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="hi" type="teiHeader/fileDesc/titleStmt/title"/>
      </sequence>
      <sequence>
        <sequence minOccurs="0" maxOccurs="1">
          <element name="pb" type="teiHeader/fileDesc/titleStmt/title"/>
        </sequence>
        <element name="lb" type="teiHeader/fileDesc/titleStmt/title"/>
      </sequence>
    </choice>
    <attribute name="lang" type="string"/>
    <attribute name="TEIform" type="string" use="required"/>
    <attribute name="reg" type="string"/>
    <attribute name="rend" type="string"/>
  </complexType>
  <complexType name="body/div1/p/name" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <choice>
        <element name="hi" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="orig" type="teiHeader/fileDesc/seriesStmt/p"/>
      </choice>
    </sequence>
    <attribute name="TEIform" type="string" use="required"/>
  </complexType>
  <complexType name="div1/p/ref/w" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <choice>
        <element name="w" type="p/ref/w/w"/>
        <element name="hi" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="orig" type="body/div1/p/foreign"/>
      </choice>
    </sequence>
    <attribute name="lemma" type="string" use="required"/>
    <attribute name="n" type="string" use="required"/>
    <attribute name="part" type="string" use="required"/>
    <attribute name="TEIform" type="string" use="required"/>
  </complexType>
  <complexType name="body/div1/p/ref">
    <element name="w" type="div1/p/ref/w"/>
    <attribute name="n" type="string" use="required"/>
    <attribute name="targOrder" type="string" use="required"/>
    <attribute name="TEIform" type="string" use="required"/>
  </complexType>
  <complexType name="text/body/div1/p" mixed="true">
    <sequence minOccurs="1" maxOccurs="unbounded">
      <choice>
        <element name="foreign" type="body/div1/p/foreign"/>
        <element name="name" type="body/div1/p/name"/>
        <element name="ref" type="body/div1/p/ref"/>
        <element name="hi" type="body/div1/p/hi"/>
        <element name="orig" type="body/div1/p/orig"/>
        <element name="lb" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="note" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="pb" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="milestone" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="fw" type="div1/lg/l/w"/>
        <element name="w" type="body/div1/lg1/head"/>
      </choice>
    </sequence>
    <attribute name="TEIform" type="string"/>
    <attribute name="type" type="string"/>
    <attribute name="part" type="string"/>
  </complexType>
  <complexType name="p/ref/w/w" mixed="true">
    <sequence>
      <element name="add" type="body/div1/lg/fw"/>
      <sequence minOccurs="0" maxOccurs="1">
        <element name="orig" type="body/div1/lg/fw"/>
      </sequence>
    </sequence>
    <attribute name="type" type="string" use="required"/>
    <attribute name="part" type="string" use="required"/>
    <attribute name="TEIform" type="string" use="required"/>
  </complexType>
  <complexType name="body/div1/p/hi" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <choice>
        <element name="hi" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="lb" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="note" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="orig" type="teiHeader/fileDesc/seriesStmt/p"/>
        <element name="ref" type="body/div1/lg/fw"/>
        <element name="w" type="text/body/div1/p"/>
      </choice>
    </sequence>
    <attribute name="TEIform" type="string"/>
    <attribute name="rend" type="string"/>
  </complexType>
  <complexType name="body/div1/p/orig" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <choice>
        <element name="lb" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="hi" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="pb" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="fw" type="div1/lg/l/w"/>
      </choice>
    </sequence>
    <attribute name="reg" type="string" use="required"/>
    <attribute name="rend" type="string"/>
    <attribute name="TEIform" type="string" use="required"/>
  </complexType>
  <complexType name="body/div1/div2/head" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <sequence minOccurs="1" maxOccurs="unbounded">
        <choice>
          <element name="seg" type="div1/div2/head/seg"/>
          <element name="hi" type="teiHeader/fileDesc/titleStmt/title"/>
          <element name="abbr" type="teiHeader/fileDesc/titleStmt/title"/>
          <element name="milestone" type="teiHeader/fileDesc/titleStmt/title"/>
          <element name="lb" type="teiHeader/fileDesc/titleStmt/title"/>
        </choice>
      </sequence>
    </sequence>
    <attribute name="TEIform" type="string"/>
    <attribute name="rend" type="string"/>
  </complexType>
  <complexType name="div2/p/hi/w" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <choice>
        <element name="w" type="p/hi/w/w"/>
        <element name="add" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="hi" type="body/div1/lg/fw"/>
        <element name="orig" type="body/div1/p/orig"/>
      </choice>
    </sequence>
    <attribute name="type" type="string" use="required"/>
    <attribute name="part" type="string" use="required"/>
    <attribute name="TEIform" type="string" use="required"/>
  </complexType>
  <complexType name="div1/div2/p/hi" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <sequence minOccurs="1" maxOccurs="unbounded">
        <choice>
          <element name="w" type="div2/p/hi/w"/>
          <element name="hi" type="div2/p/hi/hi"/>
          <element name="orig" type="div2/p/hi/orig"/>
          <element name="lb" type="teiHeader/fileDesc/titleStmt/title"/>
          <element name="note" type="teiHeader/fileDesc/titleStmt/title"/>
          <element name="pb" type="teiHeader/fileDesc/titleStmt/title"/>
          <element name="corr" type="teiHeader/fileDesc/titleStmt/title"/>
          <element name="gap" type="teiHeader/fileDesc/titleStmt/title"/>
          <element name="foreign" type="text/front/titlePage/docEdition"/>
          <element name="name" type="body/div1/p/name"/>
        </choice>
      </sequence>
    </sequence>
    <attribute name="TEIform" type="string" use="required"/>
    <attribute name="rend" type="string"/>
  </complexType>
  <complexType name="body/div1/div2/p" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <sequence minOccurs="1" maxOccurs="unbounded">
        <choice>
          <element name="hi" type="div1/div2/p/hi"/>
          <element name="w" type="div1/div2/p/w"/>
          <element name="seg" type="div1/div2/p/seg"/>
          <element name="lb" type="teiHeader/fileDesc/titleStmt/title"/>
          <element name="note" type="teiHeader/fileDesc/titleStmt/title"/>
          <element name="pb" type="teiHeader/fileDesc/titleStmt/title"/>
          <element name="fw" type="teiHeader/fileDesc/titleStmt/title"/>
          <element name="name" type="body/div1/lg/fw"/>
          <element name="orig" type="body/div1/p/foreign"/>
        </choice>
      </sequence>
    </sequence>
    <attribute name="TEIform" type="string" use="required"/>
    <attribute name="n" type="string"/>
  </complexType>
  <complexType name="text/body/div1/div2">
    <sequence minOccurs="1" maxOccurs="unbounded">
      <choice>
        <element name="head" type="body/div1/div2/head"/>
        <element name="p" type="body/div1/div2/p"/>
        <element name="lg" type="body/div1/div2/lg"/>
        <element name="div3" type="body/div1/div2/div3"/>
        <element name="linkGrp" type="body/div1/div2/linkGrp"/>
        <element name="milestone" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="lb" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="pb" type="teiHeader/fileDesc/titleStmt/title"/>
      </choice>
    </sequence>
    <attribute name="id" type="string" use="required"/>
    <attribute name="type" type="string" use="required"/>
    <attribute name="sample" type="string"/>
    <attribute name="part" type="string"/>
    <attribute name="org" type="string"/>
    <attribute name="TEIform" type="string"/>
    <attribute name="n" type="string"/>
  </complexType>
  <complexType name="div2/p/hi/hi" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <sequence minOccurs="1" maxOccurs="unbounded">
        <choice>
          <element name="w" type="p/hi/hi/w"/>
          <element name="hi" type="p/hi/hi/hi"/>
          <element name="note" type="teiHeader/fileDesc/titleStmt/title"/>
          <element name="name" type="teiHeader/fileDesc/titleStmt/title"/>
          <element name="lb" type="teiHeader/fileDesc/titleStmt/title"/>
          <element name="orig" type="body/div1/lg/fw"/>
        </choice>
      </sequence>
    </sequence>
    <attribute name="TEIform" type="string" use="required"/>
    <attribute name="rend" type="string"/>
  </complexType>
  <complexType name="div2/p/hi/orig" mixed="true">
    <choice>
      <element name="name" type="teiHeader/fileDesc/seriesStmt/p"/>
      <sequence>
        <sequence minOccurs="0" maxOccurs="1">
          <element name="pb" type="teiHeader/fileDesc/titleStmt/title"/>
        </sequence>
        <element name="lb" type="teiHeader/fileDesc/titleStmt/title"/>
      </sequence>
    </choice>
    <attribute name="reg" type="string" use="required"/>
    <attribute name="TEIform" type="string" use="required"/>
  </complexType>
  <complexType name="p/hi/w/w" mixed="true">
    <sequence>
      <element name="add" type="teiHeader/fileDesc/titleStmt/title"/>
      <sequence minOccurs="0" maxOccurs="1">
        <element name="orig" type="teiHeader/fileDesc/seriesStmt/p"/>
      </sequence>
    </sequence>
    <attribute name="type" type="string" use="required"/>
    <attribute name="part" type="string" use="required"/>
    <attribute name="TEIform" type="string" use="required"/>
  </complexType>
  <complexType name="lg/l/hi/w" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <choice>
        <element name="hi" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="orig" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="w" type="div1/lg/l/w"/>
      </choice>
    </sequence>
    <attribute name="type" type="string"/>
    <attribute name="part" type="string"/>
    <attribute name="TEIform" type="string" use="required"/>
    <attribute name="rend" type="string"/>
  </complexType>
  <complexType name="div2/lg/l/hi" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <sequence minOccurs="1" maxOccurs="unbounded">
        <choice>
          <element name="w" type="lg/l/hi/w"/>
          <element name="hi" type="lg/l/hi/hi"/>
          <element name="note" type="teiHeader/fileDesc/titleStmt/title"/>
          <element name="name" type="teiHeader/fileDesc/titleStmt/title"/>
          <element name="corr" type="teiHeader/fileDesc/titleStmt/title"/>
        </choice>
      </sequence>
    </sequence>
    <attribute name="rend" type="string"/>
    <attribute name="TEIform" type="string"/>
  </complexType>
  <complexType name="div1/div2/lg/l" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <sequence minOccurs="1" maxOccurs="unbounded">
        <choice>
          <element name="hi" type="div2/lg/l/hi"/>
          <element name="note" type="teiHeader/fileDesc/titleStmt/title"/>
          <element name="pb" type="teiHeader/fileDesc/titleStmt/title"/>
          <element name="gap" type="teiHeader/fileDesc/titleStmt/title"/>
          <element name="name" type="teiHeader/fileDesc/titleStmt/title"/>
          <element name="foreign" type="teiHeader/fileDesc/titleStmt/title"/>
          <element name="lb" type="teiHeader/fileDesc/titleStmt/title"/>
          <element name="fw" type="div1/lg/l/fw"/>
          <element name="orig" type="body/div1/lg/fw"/>
          <element name="corr" type="body/div1/lg/fw"/>
          <element name="w" type="div1/lg/l/w"/>
        </choice>
      </sequence>
    </sequence>
    <attribute name="id" type="string"/>
    <attribute name="n" type="string"/>
    <attribute name="part" type="string"/>
    <attribute name="TEIform" type="string"/>
    <attribute name="rend" type="string"/>
  </complexType>
  <complexType name="body/div1/div2/lg">
    <sequence minOccurs="1" maxOccurs="unbounded">
      <choice>
        <element name="l" type="div1/div2/lg/l"/>
        <element name="pb" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="milestone" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="lb" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="fw" type="body/div1/lg/fw"/>
      </choice>
    </sequence>
    <attribute name="type" type="string"/>
    <attribute name="sample" type="string"/>
    <attribute name="part" type="string"/>
    <attribute name="org" type="string"/>
    <attribute name="TEIform" type="string"/>
  </complexType>
  <complexType name="div1/div2/p/w" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <choice>
        <sequence minOccurs="0" maxOccurs="unbounded">
          <element name="hi" type="teiHeader/fileDesc/titleStmt/title"/>
        </sequence>
        <element name="orig" type="div2/p/w/orig"/>
        <element name="add" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="w" type="p/hi/w/w"/>
      </choice>
    </sequence>
    <attribute name="type" type="string" use="required"/>
    <attribute name="part" type="string" use="required"/>
    <attribute name="TEIform" type="string" use="required"/>
  </complexType>
  <complexType name="p/hi/hi/w" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <choice>
        <element name="hi" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="orig" type="body/div1/lg/fw"/>
        <element name="w" type="div1/lg/l/w"/>
      </choice>
    </sequence>
    <attribute name="type" type="string" use="required"/>
    <attribute name="part" type="string" use="required"/>
    <attribute name="TEIform" type="string" use="required"/>
  </complexType>
  <complexType name="div2/p/w/orig" mixed="true">
    <choice>
      <element name="lb" type="teiHeader/fileDesc/titleStmt/title"/>
      <element name="hi" type="teiHeader/fileDesc/seriesStmt/p"/>
      <element name="pb" type="teiHeader/fileDesc/titleStmt/title"/>
      <element name="w" type="p/w/orig/w"/>
      <element name="fw" type="div1/lg/l/w"/>
    </choice>
    <attribute name="reg" type="string" use="required"/>
    <attribute name="TEIform" type="string" use="required"/>
    <attribute name="rend" type="string"/>
  </complexType>
  <complexType name="p/hi/hi/hi" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <choice>
        <element name="orig" type="teiHeader/fileDesc/seriesStmt/p"/>
        <sequence>
          <element name="w" type="body/div1/lg/l"/>
          <sequence minOccurs="0" maxOccurs="1">
            <element name="note" type="teiHeader/fileDesc/titleStmt/title"/>
          </sequence>
        </sequence>
      </choice>
    </sequence>
    <attribute name="rend" type="string" use="required"/>
    <attribute name="TEIform" type="string" use="required"/>
  </complexType>
  <complexType name="div2/div3/p/hi" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <sequence minOccurs="1" maxOccurs="unbounded">
        <choice>
          <element name="hi" type="div3/p/hi/hi"/>
          <element name="lb" type="teiHeader/fileDesc/titleStmt/title"/>
          <element name="pb" type="teiHeader/fileDesc/titleStmt/title"/>
          <element name="note" type="teiHeader/fileDesc/titleStmt/title"/>
          <element name="name" type="teiHeader/fileDesc/titleStmt/title"/>
          <element name="orig" type="body/div1/p/foreign"/>
          <element name="w" type="div2/p/hi/w"/>
        </choice>
      </sequence>
    </sequence>
    <attribute name="TEIform" type="string" use="required"/>
    <attribute name="rend" type="string"/>
  </complexType>
  <complexType name="div2/div3/p/w" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <choice>
        <element name="orig" type="div3/p/w/orig"/>
        <element name="add" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="hi" type="body/div1/head/hi"/>
        <element name="w" type="div1/lg/l/w"/>
      </choice>
    </sequence>
    <attribute name="type" type="string" use="required"/>
    <attribute name="part" type="string" use="required"/>
    <attribute name="TEIform" type="string" use="required"/>
  </complexType>
  <complexType name="div1/div2/div3/p" mixed="true">
    <sequence minOccurs="1" maxOccurs="unbounded">
      <choice>
        <element name="hi" type="div2/div3/p/hi"/>
        <element name="w" type="div2/div3/p/w"/>
        <element name="lb" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="note" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="pb" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="corr" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="name" type="body/div1/head/hi"/>
        <element name="orig" type="div2/p/w/orig"/>
      </choice>
    </sequence>
    <attribute name="n" type="string"/>
    <attribute name="TEIform" type="string" use="required"/>
  </complexType>
  <complexType name="div3/p/hi/hi" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <sequence minOccurs="1" maxOccurs="unbounded">
        <choice>
          <element name="w" type="p/hi/hi/w"/>
          <element name="hi" type="p/hi/hi/hi"/>
          <element name="note" type="teiHeader/fileDesc/titleStmt/title"/>
          <element name="lb" type="teiHeader/fileDesc/titleStmt/title"/>
          <element name="orig" type="body/div1/lg/fw"/>
        </choice>
      </sequence>
    </sequence>
    <attribute name="rend" type="string"/>
    <attribute name="TEIform" type="string" use="required"/>
  </complexType>
  <complexType name="div3/p/w/orig" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <choice>
        <element name="lb" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="note" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="hi" type="teiHeader/fileDesc/seriesStmt/p"/>
      </choice>
    </sequence>
    <attribute name="reg" type="string" use="required"/>
    <attribute name="TEIform" type="string" use="required"/>
    <attribute name="rend" type="string"/>
  </complexType>
  <complexType name="body/div1/div2/div3">
    <sequence minOccurs="1" maxOccurs="unbounded">
      <choice>
        <element name="p" type="div1/div2/div3/p"/>
        <element name="milestone" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="pb" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="head" type="teiHeader/fileDesc/seriesStmt/p"/>
      </choice>
    </sequence>
    <attribute name="type" type="string"/>
    <attribute name="sample" type="string" use="required"/>
    <attribute name="part" type="string" use="required"/>
    <attribute name="org" type="string" use="required"/>
    <attribute name="TEIform" type="string" use="required"/>
    <attribute name="id" type="string"/>
    <attribute name="rend" type="string"/>
  </complexType>
  <complexType name="l/hi/hi/hi" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <sequence>
        <sequence minOccurs="0" maxOccurs="unbounded">
          <element name="w" type="body/div1/lg/l"/>
        </sequence>
        <sequence minOccurs="0" maxOccurs="1">
          <element name="note" type="teiHeader/fileDesc/titleStmt/title"/>
        </sequence>
      </sequence>
    </sequence>
    <attribute name="rend" type="string" use="required"/>
    <attribute name="TEIform" type="string" use="required"/>
  </complexType>
  <complexType name="p/w/orig/w" mixed="true">
    <sequence>
      <element name="add" type="teiHeader/fileDesc/titleStmt/title"/>
      <element name="lb" type="teiHeader/fileDesc/titleStmt/title"/>
    </sequence>
    <attribute name="type" type="string" use="required"/>
    <attribute name="part" type="string" use="required"/>
    <attribute name="TEIform" type="string" use="required"/>
  </complexType>
  <complexType name="lg/l/w/w" mixed="true">
    <choice>
      <element name="add" type="teiHeader/fileDesc/titleStmt/title"/>
      <element name="hi" type="div1/lg/l/w"/>
    </choice>
    <attribute name="type" type="string" use="required"/>
    <attribute name="part" type="string"/>
    <attribute name="TEIform" type="string"/>
  </complexType>
  <complexType name="body/div1/div2/linkGrp">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <element name="link" type="teiHeader/fileDesc/titleStmt/title"/>
    </sequence>
    <attribute name="targOrder" type="string" use="required"/>
    <attribute name="TEIform" type="string" use="required"/>
  </complexType>
  <complexType name="div1/div2/p/seg" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <sequence minOccurs="1" maxOccurs="unbounded">
        <choice>
          <element name="orig" type="div2/p/seg/orig"/>
          <element name="pb" type="teiHeader/fileDesc/titleStmt/title"/>
          <element name="lb" type="teiHeader/fileDesc/titleStmt/title"/>
          <element name="corr" type="teiHeader/fileDesc/titleStmt/title"/>
          <element name="fw" type="body/div1/lg/fw"/>
          <element name="q" type="body/div1/lg/fw"/>
          <element name="hi" type="lg/l/hi/w"/>
          <element name="seg" type="div2/p/seg/orig"/>
        </choice>
      </sequence>
    </sequence>
    <attribute name="id" type="string" use="required"/>
    <attribute name="n" type="string" use="required"/>
    <attribute name="part" type="string" use="required"/>
    <attribute name="TEIform" type="string" use="required"/>
  </complexType>
  <complexType name="div1/div2/head/seg" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <choice>
        <element name="milestone" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="lb" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="hi" type="body/div1/lg/fw"/>
        <element name="fw" type="body/div1/lg/fw"/>
      </choice>
    </sequence>
    <attribute name="id" type="string" use="required"/>
    <attribute name="n" type="string" use="required"/>
    <attribute name="part" type="string" use="required"/>
    <attribute name="TEIform" type="string" use="required"/>
  </complexType>
  <complexType name="div2/p/seg/orig" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <choice>
        <element name="hi" type="teiHeader/fileDesc/titleStmt/title"/>
        <element name="fw" type="body/div1/lg/fw"/>
        <element name="orig" type="teiHeader/fileDesc/titleStmt/title"/>
      </choice>
    </sequence>
    <attribute name="reg" type="string"/>
    <attribute name="TEIform" type="string" use="required"/>
    <attribute name="id" type="string"/>
    <attribute name="n" type="string"/>
    <attribute name="part" type="string"/>
  </complexType>
  <complexType name="text/front/titlePage/epigraph">
    <element name="l" type="teiHeader/fileDesc/titleStmt/title"/>
    <attribute name="TEIform" type="string" use="required"/>
  </complexType>
</schema>
