inferenced/webfrap_subsumed_merge_1.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/gegenrated" elementFormDefault="qualified">
  <complexType name="title/text" mixed="true">
    <choice>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="text" type="title/text"/>
      </sequence>
      <element name="entity" type="title/text"/>
    </choice>
    <attribute name="lang" type="string"/>
    <attribute name="special" type="string"/>
    <attribute name="name" type="string"/>
    <attribute name="id" type="string"/>
    <attribute name="alias" type="string"/>
    <attribute name="refId" type="string"/>
    <attribute name="src" type="string"/>
    <attribute name="field" type="string"/>
    <attribute name="type" type="string"/>
    <attribute name="value" type="string"/>
    <attribute name="key" type="string"/>
    <attribute name="position" type="string"/>
    <attribute name="size" type="string"/>
    <attribute name="useRef" type="string"/>
    <attribute name="valign" type="string"/>
    <attribute name="width" type="string"/>
    <attribute name="label" type="string"/>
    <attribute name="target" type="string"/>
    <attribute name="main" type="string"/>
    <attribute name="targetId" type="string"/>
    <attribute name="is" type="string"/>
    <attribute name="max_lower" type="string"/>
    <attribute name="max_higher" type="string"/>
    <attribute name="height" type="string"/>
    <attribute name="minWidth" type="string"/>
    <attribute name="minHeight" type="string"/>
    <attribute name="maxWidth" type="string"/>
    <attribute name="maxHeight" type="string"/>
    <attribute name="mode" type="string"/>
    <attribute name="page" type="string"/>
    <attribute name="slice" type="string"/>
    <attribute name="align" type="string"/>
    <attribute name="srcId" type="string"/>
    <attribute name="window" type="string"/>
    <attribute name="nam" type="string"/>
    <attribute name="category" type="string"/>
    <attribute name="is_a" type="string"/>
  </complexType>
  <complexType name="check/equal">
    <sequence>
      <element name="user" type="title/text"/>
      <element name="entity" type="title/text"/>
    </sequence>
  </complexType>
  <complexType name="block/check">
    <element name="equal" type="check/equal"/>
  </complexType>
  <complexType name="content/block">
    <sequence>
      <element name="check" type="block/check"/>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="text" type="title/text"/>
      </sequence>
    </sequence>
  </complexType>
  <complexType name="message/content">
    <element name="block" type="content/block"/>
  </complexType>
  <complexType name="messages/message">
    <sequence>
      <element name="title" type="title/text"/>
      <element name="content" type="message/content"/>
    </sequence>
    <attribute name="name" type="string" use="required"/>
  </complexType>
  <complexType name="bdl/messages">
    <element name="message" type="messages/message"/>
  </complexType>
  <element name="bdl" type="bdl"/>
  <complexType name="bdl">
    <sequence minOccurs="1" maxOccurs="unbounded">
      <choice>
        <element name="messages" type="bdl/messages"/>
        <element name="entities" type="bdl/entities"/>
        <element name="components" type="bdl/components"/>
        <element name="processes" type="bdl/processes"/>
        <element name="managements" type="bdl/managements"/>
      </choice>
    </sequence>
    <attribute name="version" type="string"/>
  </complexType>
  <complexType name="attributes/attribute" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <sequence minOccurs="1" maxOccurs="unbounded">
        <choice>
          <element name="display" type="attribute/display"/>
          <element name="identField" type="attribute/identField"/>
          <element name="events" type="attribute/events"/>
          <element name="sequence" type="title/text"/>
          <element name="emebd" type="title/text"/>
          <element name="name" type="title/text"/>
          <element name="description" type="title/text"/>
          <element name="embed" type="title/text"/>
          <element name="search" type="title/text"/>
          <element name="ref" type="title/text"/>
          <element name="groups" type="title/text"/>
          <element name="tableField" type="title/text"/>
          <element name="hidden" type="title/text"/>
          <element name="comment" type="title/text"/>
          <element name="fk" type="title/text"/>
          <element name="categories" type="title/text"/>
          <element name="optional" type="title/text"/>
          <element name="link" type="title/text"/>
          <element name="searchField" type="title/text"/>
          <element name="groupBy" type="title/text"/>
          <element name="typed" type="title/text"/>
          <element name="category" type="title/text"/>
          <element name="label" type="title/text"/>
          <element name="concepts" type="entity/concepts"/>
          <element name="uiElement" type="ref/target"/>
        </choice>
      </sequence>
    </sequence>
    <attribute name="is_a" type="string"/>
    <attribute name="name" type="string"/>
    <attribute name="type" type="string"/>
    <attribute name="size" type="string"/>
    <attribute name="target" type="string"/>
    <attribute name="required" type="string"/>
    <attribute name="validator" type="string"/>
    <attribute name="equired" type="string"/>
  </complexType>
  <complexType name="entity/attributes">
    <sequence minOccurs="1" maxOccurs="unbounded">
      <choice>
        <element name="attribute" type="attributes/attribute"/>
        <element name="categories" type="attributes/categories"/>
        <element name="semantic" type="attributes/semantic"/>
        <element name="condition" type="attributes/condition"/>
        <element name="attribut" type="title/text"/>
      </choice>
    </sequence>
  </complexType>
  <complexType name="ref/target">
    <sequence minOccurs="0" maxOccurs="1">
      <choice>
        <element name="filters" type="target/filters"/>
        <sequence minOccurs="0" maxOccurs="unbounded">
          <element name="field" type="title/text"/>
        </sequence>
        <sequence>
          <element name="layout" type="title/text"/>
          <element name="size" type="title/text"/>
        </sequence>
      </choice>
    </sequence>
    <attribute name="name" type="string"/>
    <attribute name="id" type="string"/>
    <attribute name="alias" type="string"/>
    <attribute name="inherit" type="string"/>
    <attribute name="type" type="string"/>
    <attribute name="class" type="string"/>
    <attribute name="size" type="string"/>
    <attribute name="src" type="string"/>
    <attribute name="readonly" type="string"/>
    <attribute name="hardcoded" type="string"/>
    <attribute name="filter" type="string"/>
  </complexType>
  <complexType name="references/ref">
    <sequence minOccurs="0" maxOccurs="1">
      <sequence minOccurs="1" maxOccurs="unbounded">
        <choice>
          <element name="target" type="ref/target"/>
          <element name="src" type="title/text"/>
          <element name="comment" type="title/text"/>
          <element name="label" type="title/text"/>
          <element name="description" type="title/text"/>
          <element name="connection" type="entities/entity"/>
        </choice>
      </sequence>
    </sequence>
    <attribute name="name" type="string" use="required"/>
    <attribute name="binding" type="string"/>
    <attribute name="relation" type="string"/>
    <attribute name="target" type="string"/>
    <attribute name="base" type="string"/>
  </complexType>
  <complexType name="entity/references">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <element name="ref" type="references/ref"/>
    </sequence>
  </complexType>
  <complexType name="entities/entity">
    <sequence minOccurs="1" maxOccurs="unbounded">
      <choice>
        <element name="attributes" type="entity/attributes"/>
        <element name="references" type="entity/references"/>
        <element name="concepts" type="entity/concepts"/>
        <element name="semantic" type="entity/semantic"/>
        <element name="access" type="entity/access"/>
        <element name="keys" type="entity/keys"/>
        <element name="description" type="title/text"/>
        <element name="comment" type="title/text"/>
        <element name="label" type="title/text"/>
        <element name="lable" type="title/text"/>
        <element name="properties" type="bdl/components"/>
        <element name="categories" type="attributes/categories"/>
      </choice>
    </sequence>
    <attribute name="name" type="string" use="required"/>
  </complexType>
  <complexType name="bdl/entities">
    <sequence>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="entity" type="entities/entity"/>
      </sequence>
      <sequence minOccurs="0" maxOccurs="1">
        <element name="references" type="entity/references"/>
      </sequence>
    </sequence>
  </complexType>
  <complexType name="attribute/display">
    <sequence minOccurs="0" maxOccurs="1">
      <choice>
        <element name="table" type="title/text"/>
        <element name="text" type="title/text"/>
        <element name="overview" type="title/text"/>
      </choice>
    </sequence>
    <attribute name="field" type="string"/>
    <attribute name="type" type="string"/>
  </complexType>
  <complexType name="component/fields">
    <sequence minOccurs="0" maxOccurs="1">
      <sequence>
        <element name="id" type="title/text"/>
        <element name="value" type="title/text"/>
        <element name="order" type="title/text"/>
      </sequence>
    </sequence>
    <attribute name="value" type="string"/>
    <attribute name="id" type="string"/>
    <attribute name="order" type="string"/>
    <attribute name="join" type="string"/>
    <attribute name="srcId" type="string"/>
  </complexType>
  <complexType name="components/component">
    <choice>
      <sequence>
        <sequence minOccurs="0" maxOccurs="1">
          <element name="source" type="component/source"/>
        </sequence>
        <element name="head" type="component/head"/>
        <sequence minOccurs="0" maxOccurs="1">
          <element name="body" type="component/body"/>
        </sequence>
      </sequence>
      <sequence>
        <sequence minOccurs="0" maxOccurs="1">
          <sequence>
            <sequence minOccurs="0" maxOccurs="unbounded">
              <element name="label" type="title/text"/>
            </sequence>
            <sequence minOccurs="0" maxOccurs="1">
              <element name="description" type="title/text"/>
            </sequence>
          </sequence>
        </sequence>
        <element name="fields" type="component/fields"/>
        <sequence minOccurs="0" maxOccurs="1">
          <element name="filters" type="target/filters"/>
        </sequence>
      </sequence>
    </choice>
    <attribute name="name" type="string"/>
    <attribute name="src" type="string"/>
    <attribute name="type" type="string" use="required"/>
  </complexType>
  <complexType name="bdl/components">
    <sequence minOccurs="1" maxOccurs="unbounded">
      <choice>
        <element name="component" type="components/component"/>
        <element name="component_ex" type="components/component_ex"/>
      </choice>
    </sequence>
  </complexType>
  <complexType name="entity/concepts">
    <element name="concept" type="title/text"/>
  </complexType>
  <complexType name="categories/category">
    <sequence minOccurs="0" maxOccurs="1">
      <sequence>
        <sequence minOccurs="0" maxOccurs="1">
          <choice>
            <element name="access" type="entity/access"/>
            <element name="layout" type="body/row"/>
          </choice>
        </sequence>
        <element name="label" type="title/text"/>
      </sequence>
    </sequence>
    <attribute name="name" type="string"/>
    <attribute name="label" type="string"/>
    <attribute name="main" type="string"/>
    <attribute name="type" type="string"/>
  </complexType>
  <complexType name="attributes/categories">
    <choice>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="category" type="categories/category"/>
      </sequence>
      <element name="group" type="title/text"/>
    </choice>
    <attribute name="main" type="string"/>
  </complexType>
  <complexType name="attribute/identField">
    <sequence minOccurs="0" maxOccurs="1">
      <choice>
        <element name="paths" type="node/paths"/>
        <element name="description" type="title/text"/>
      </choice>
    </sequence>
    <attribute name="src" type="string"/>
    <attribute name="field" type="string"/>
    <attribute name="srcField" type="string"/>
    <attribute name="targetField" type="string"/>
    <attribute name="srcId" type="string"/>
    <attribute name="targetId" type="string"/>
  </complexType>
  <complexType name="attributes/semantic">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <element name="group" type="title/text"/>
    </sequence>
  </complexType>
  <complexType name="semantic/tags">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <element name="tag" type="title/text"/>
    </sequence>
  </complexType>
  <complexType name="entity/semantic">
    <sequence minOccurs="0" maxOccurs="1">
      <choice>
        <element name="concepts" type="entity/concepts"/>
        <sequence>
          <sequence minOccurs="0" maxOccurs="1">
            <element name="parent" type="semantic/parent"/>
          </sequence>
          <element name="tags" type="semantic/tags"/>
        </sequence>
      </choice>
    </sequence>
  </complexType>
  <complexType name="access/acl">
    <sequence minOccurs="0" maxOccurs="1">
      <sequence>
        <element name="role" type="title/text"/>
        <element name="owner" type="title/text"/>
        <element name="responsible" type="title/text"/>
        <element name="user" type="title/text"/>
      </sequence>
    </sequence>
    <attribute name="type" type="string"/>
  </complexType>
  <complexType name="entity/access">
    <element name="acl" type="access/acl"/>
  </complexType>
  <complexType name="target/filters">
    <element name="filter" type="attribute/identField"/>
    <attribute name="name" type="string"/>
  </complexType>
  <complexType name="events/onUpdate" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <element name="update" type="title/text"/>
    </sequence>
  </complexType>
  <complexType name="attribute/events">
    <element name="onUpdate" type="events/onUpdate"/>
  </complexType>
  <complexType name="process/status">
    <element name="reference" type="title/text"/>
    <attribute name="src" type="string" use="required"/>
    <attribute name="id" type="string" use="required"/>
  </complexType>
  <complexType name="events/onArrive">
    <sequence minOccurs="0" maxOccurs="1">
      <element name="acl" type="attributes/categories"/>
    </sequence>
  </complexType>
  <complexType name="node/events">
    <sequence>
      <element name="onArrive" type="events/onArrive"/>
      <sequence minOccurs="0" maxOccurs="1">
        <sequence>
          <element name="onDeadline" type="title/text"/>
          <element name="onFallback" type="title/text"/>
        </sequence>
      </sequence>
      <element name="onLeave" type="title/text"/>
    </sequence>
  </complexType>
  <complexType name="path/acl">
    <sequence minOccurs="0" maxOccurs="1">
      <choice>
        <element name="owner" type="title/text"/>
        <element name="group" type="title/text"/>
      </choice>
    </sequence>
  </complexType>
  <complexType name="always/action">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <element name="param" type="path/acl"/>
    </sequence>
    <attribute name="name" type="string" use="required"/>
  </complexType>
  <complexType name="path/always">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <element name="action" type="always/action"/>
    </sequence>
  </complexType>
  <complexType name="paths/path">
    <sequence minOccurs="0" maxOccurs="1">
      <sequence>
        <element name="label" type="title/text"/>
        <sequence minOccurs="0" maxOccurs="1">
          <element name="description" type="title/text"/>
        </sequence>
        <element name="acl" type="path/acl"/>
        <sequence minOccurs="0" maxOccurs="1">
          <sequence>
            <sequence minOccurs="0" maxOccurs="1">
              <sequence>
                <element name="check" type="path/check"/>
                <element name="success" type="title/text"/>
                <element name="fail" type="title/text"/>
              </sequence>
            </sequence>
            <element name="always" type="path/always"/>
          </sequence>
        </sequence>
      </sequence>
    </sequence>
    <attribute name="target" type="string"/>
    <attribute name="name" type="string"/>
    <attribute name="alias" type="string"/>
    <attribute name="srcId" type="string"/>
    <attribute name="targetId" type="string"/>
    <attribute name="field" type="string"/>
  </complexType>
  <complexType name="check/field">
    <element name="required" type="title/text"/>
    <attribute name="field" type="string" use="required"/>
    <attribute name="src" type="string" use="required"/>
  </complexType>
  <complexType name="path/check">
    <element name="field" type="check/field"/>
  </complexType>
  <complexType name="node/paths">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <element name="path" type="paths/path"/>
    </sequence>
  </complexType>
  <complexType name="process/node">
    <sequence minOccurs="1" maxOccurs="unbounded">
      <choice>
        <element name="events" type="node/events"/>
        <element name="paths" type="node/paths"/>
        <element name="activ" type="node/activ"/>
        <element name="startpoint" type="title/text"/>
        <element name="endpoint" type="title/text"/>
        <element name="label" type="title/text"/>
      </choice>
    </sequence>
    <attribute name="name" type="string" use="required"/>
    <attribute name="target" type="string"/>
  </complexType>
  <complexType name="node/activ">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <element name="target" type="title/text"/>
    </sequence>
  </complexType>
  <complexType name="processes/process">
    <sequence>
      <element name="status" type="process/status"/>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="node" type="process/node"/>
      </sequence>
    </sequence>
    <attribute name="name" type="string" use="required"/>
    <attribute name="src" type="string" use="required"/>
  </complexType>
  <complexType name="bdl/processes">
    <element name="process" type="processes/process"/>
  </complexType>
  <complexType name="head/properties">
    <choice>
      <sequence>
        <element name="close" type="title/text"/>
        <element name="max" type="title/text"/>
      </sequence>
      <sequence>
        <element name="closable" type="title/text"/>
        <element name="readonly" type="title/text"/>
        <element name="disabled" type="title/text"/>
        <element name="reload" type="title/text"/>
        <element name="hidden" type="title/text"/>
      </sequence>
    </choice>
  </complexType>
  <complexType name="title/menus">
    <sequence>
      <element name="left" type="title/text"/>
      <element name="right" type="title/text"/>
    </sequence>
  </complexType>
  <complexType name="bars/title">
    <sequence>
      <element name="menus" type="title/menus"/>
      <element name="text" type="title/text"/>
    </sequence>
  </complexType>
  <complexType name="head/bars">
    <sequence>
      <element name="title" type="bars/title"/>
      <element name="status" type="bars/title"/>
      <element name="info" type="title/text"/>
      <element name="action" type="title/text"/>
    </sequence>
  </complexType>
  <complexType name="component/head">
    <choice>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="field" type="head/field"/>
      </sequence>
      <sequence>
        <element name="size" type="title/text"/>
        <element name="properties" type="head/properties"/>
        <element name="bars" type="head/bars"/>
        <element name="access" type="title/text"/>
        <element name="events" type="title/text"/>
      </sequence>
    </choice>
    <attribute name="unit" type="string"/>
  </complexType>
  <complexType name="tab/head">
    <sequence>
      <element name="properties" type="head/properties"/>
      <element name="label" type="title/text"/>
      <element name="tooltip" type="title/text"/>
      <element name="access" type="title/text"/>
      <element name="constraint" type="title/text"/>
      <element name="events" type="title/text"/>
    </sequence>
  </complexType>
  <complexType name="body/row">
    <choice>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="cms" type="title/text"/>
      </sequence>
      <element name="html" type="title/text"/>
      <element name="template" type="title/text"/>
      <element name="ref" type="title/text"/>
      <element name="entity" type="title/text"/>
      <element name="text" type="title/text"/>
      <sequence>
        <element name="access" type="title/text"/>
        <element name="constraint" type="title/text"/>
        <element name="category" type="title/text"/>
      </sequence>
      <sequence>
        <sequence minOccurs="0" maxOccurs="1">
          <element name="caption" type="title/text"/>
        </sequence>
        <sequence minOccurs="0" maxOccurs="unbounded">
          <element name="col" type="title/text"/>
        </sequence>
      </sequence>
    </choice>
    <attribute name="name" type="string"/>
    <attribute name="type" type="string"/>
  </complexType>
  <complexType name="tab/body">
    <element name="row" type="body/row"/>
  </complexType>
  <complexType name="body/tab">
    <sequence>
      <element name="head" type="tab/head"/>
      <element name="body" type="tab/body"/>
    </sequence>
    <attribute name="name" type="string" use="required"/>
  </complexType>
  <complexType name="component/body">
    <element name="tab" type="body/tab"/>
  </complexType>
  <complexType name="content/tab">
    <sequence>
      <element name="properties" type="head/properties"/>
      <element name="label" type="title/text"/>
      <element name="tooltip" type="title/text"/>
      <element name="access" type="title/text"/>
      <element name="constraint" type="title/text"/>
      <element name="events" type="title/text"/>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="row" type="body/row"/>
      </sequence>
    </sequence>
    <attribute name="name" type="string" use="required"/>
  </complexType>
  <complexType name="component_ex/content">
    <element name="tab" type="content/tab"/>
  </complexType>
  <complexType name="components/component_ex">
    <sequence>
      <element name="size" type="title/text"/>
      <element name="properties" type="head/properties"/>
      <element name="bars" type="head/bars"/>
      <element name="access" type="title/text"/>
      <element name="events" type="title/text"/>
      <element name="content" type="component_ex/content"/>
    </sequence>
    <attribute name="type" type="string" use="required"/>
    <attribute name="name" type="string" use="required"/>
    <attribute name="src" type="string" use="required"/>
  </complexType>
  <complexType name="semantic/genders">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <element name="gender" type="title/text"/>
    </sequence>
  </complexType>
  <complexType name="management/semantic">
    <element name="genders" type="semantic/genders"/>
  </complexType>
  <complexType name="management/events">
    <sequence>
      <element name="onInsert" type="title/text"/>
      <element name="onUpdate" type="events/onUpdate"/>
    </sequence>
  </complexType>
  <complexType name="condition/if">
    <choice>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="attribute" type="title/text"/>
      </sequence>
      <element name="entity" type="title/text"/>
      <element name="group_role" type="title/text"/>
    </choice>
    <attribute name="exists" type="string"/>
  </complexType>
  <complexType name="condition/then">
    <element name="form_edit" type="title/text"/>
  </complexType>
  <complexType name="view/condition">
    <sequence>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="if" type="condition/if"/>
      </sequence>
      <element name="then" type="condition/then"/>
    </sequence>
  </complexType>
  <complexType name="management/view">
    <sequence>
      <element name="insert" type="title/text"/>
      <element name="update" type="title/text"/>
      <element name="table" type="title/text"/>
      <element name="overview" type="title/text"/>
      <element name="form_insert" type="title/text"/>
      <element name="form_edit" type="title/text"/>
      <element name="condition" type="view/condition"/>
    </sequence>
  </complexType>
  <complexType name="managements/management">
    <sequence>
      <element name="label" type="title/text"/>
      <element name="description" type="title/text"/>
      <element name="semantic" type="management/semantic"/>
      <element name="events" type="management/events"/>
      <element name="view" type="management/view"/>
      <element name="references" type="entity/references"/>
    </sequence>
    <attribute name="name" type="string" use="required"/>
    <attribute name="src" type="string" use="required"/>
  </complexType>
  <complexType name="bdl/managements">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <element name="management" type="managements/management"/>
    </sequence>
  </complexType>
  <complexType name="keys/primaryKey">
    <element name="key" type="title/text"/>
  </complexType>
  <complexType name="entity/keys">
    <element name="primaryKey" type="keys/primaryKey"/>
  </complexType>
  <complexType name="component/source">
    <element name="path" type="title/text"/>
    <attribute name="name" type="string" use="required"/>
  </complexType>
  <complexType name="head/field">
    <choice>
      <element name="size" type="title/text"/>
      <element name="color" type="title/text"/>
      <element name="label" type="title/text"/>
      <element name="sum" type="title/text"/>
    </choice>
    <attribute name="name" type="string" use="required"/>
    <attribute name="src" type="string"/>
    <attribute name="type" type="string"/>
  </complexType>
  <complexType name="attributes/condition">
    <sequence>
      <element name="if" type="condition/if"/>
      <element name="else" type="condition/if"/>
    </sequence>
  </complexType>
  <complexType name="semantic/parent">
    <element name="uiElement" type="title/text"/>
    <attribute name="target" type="string" use="required"/>
  </complexType>
</schema>
