inferenced/webfrap_exact_equals_3.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/gegenrated" elementFormDefault="qualified">
  <complexType name="messages/message/title/text">
    <simpleContent>
      <extension base="string">
        <attribute name="lang" type="string"/>
        <attribute name="value" type="string"/>
        <attribute name="key" type="string"/>
        <attribute name="special" type="string"/>
        <attribute name="name" type="string"/>
        <attribute name="id" type="string"/>
        <attribute name="alias" type="string"/>
        <attribute name="refId" type="string"/>
        <attribute name="src" type="string"/>
        <attribute name="field" type="string"/>
        <attribute name="type" type="string"/>
        <attribute name="target" type="string"/>
        <attribute name="is_a" type="string"/>
        <attribute name="position" type="string"/>
        <attribute name="size" type="string"/>
        <attribute name="useRef" type="string"/>
        <attribute name="valign" type="string"/>
        <attribute name="width" type="string"/>
        <attribute name="label" type="string"/>
        <attribute name="order" type="string"/>
        <attribute name="main" type="string"/>
        <attribute name="targetId" type="string"/>
        <attribute name="is" type="string"/>
        <attribute name="max_lower" type="string"/>
        <attribute name="max_higher" type="string"/>
        <attribute name="srcId" type="string"/>
        <attribute name="height" type="string"/>
        <attribute name="minWidth" type="string"/>
        <attribute name="minHeight" type="string"/>
        <attribute name="maxWidth" type="string"/>
        <attribute name="maxHeight" type="string"/>
        <attribute name="mode" type="string"/>
        <attribute name="page" type="string"/>
        <attribute name="slice" type="string"/>
        <attribute name="align" type="string"/>
        <attribute name="window" type="string"/>
        <attribute name="nam" type="string"/>
        <attribute name="category" type="string"/>
      </extension>
    </simpleContent>
  </complexType>
  <complexType name="bdl/messages/message/title">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <element name="text" type="messages/message/title/text"/>
    </sequence>
    <attribute name="key" type="string"/>
    <attribute name="size" type="string"/>
    <attribute name="type" type="string"/>
  </complexType>
  <complexType name="content/block/check/equal">
    <sequence>
      <element name="user" type="messages/message/title/text"/>
      <element name="entity" type="messages/message/title/text"/>
    </sequence>
  </complexType>
  <complexType name="message/content/block/check">
    <element name="equal" type="content/block/check/equal"/>
  </complexType>
  <complexType name="messages/message/content/block">
    <sequence>
      <element name="check" type="message/content/block/check"/>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="text" type="messages/message/title/text"/>
      </sequence>
    </sequence>
  </complexType>
  <complexType name="bdl/messages/message/content">
    <element name="block" type="messages/message/content/block"/>
  </complexType>
  <complexType name="bdl/messages/message">
    <sequence>
      <element name="title" type="bdl/messages/message/title"/>
      <element name="content" type="bdl/messages/message/content"/>
    </sequence>
    <attribute name="name" type="string" use="required"/>
  </complexType>
  <complexType name="bdl/messages">
    <element name="message" type="bdl/messages/message"/>
  </complexType>
  <element name="bdl" type="bdl"/>
  <complexType name="bdl">
    <sequence minOccurs="1" maxOccurs="unbounded">
      <choice>
        <element name="messages" type="bdl/messages"/>
        <element name="entities" type="bdl/entities"/>
        <element name="components" type="bdl/components"/>
        <element name="processes" type="bdl/processes"/>
        <element name="managements" type="bdl/managements"/>
      </choice>
    </sequence>
    <attribute name="version" type="string"/>
  </complexType>
  <complexType name="entities/entity/attributes/attribute" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <sequence minOccurs="1" maxOccurs="unbounded">
        <choice>
          <element name="display" type="entity/attributes/attribute/display"/>
          <element name="uiElement" type="entity/attributes/attribute/uiElement"/>
          <element name="identField" type="entity/attributes/attribute/identField"/>
          <element name="events" type="entity/attributes/attribute/events"/>
          <element name="sequence" type="messages/message/title/text"/>
          <element name="emebd" type="messages/message/title/text"/>
          <element name="name" type="messages/message/title/text"/>
          <element name="embed" type="messages/message/title/text"/>
          <element name="search" type="messages/message/title/text"/>
          <element name="ref" type="messages/message/title/text"/>
          <element name="groups" type="messages/message/title/text"/>
          <element name="tableField" type="messages/message/title/text"/>
          <element name="hidden" type="messages/message/title/text"/>
          <element name="comment" type="messages/message/title/text"/>
          <element name="fk" type="messages/message/title/text"/>
          <element name="categories" type="messages/message/title/text"/>
          <element name="optional" type="messages/message/title/text"/>
          <element name="link" type="messages/message/title/text"/>
          <element name="searchField" type="messages/message/title/text"/>
          <element name="groupBy" type="messages/message/title/text"/>
          <element name="typed" type="messages/message/title/text"/>
          <element name="category" type="messages/message/title/text"/>
          <element name="description" type="bdl/messages/message/title"/>
          <element name="label" type="bdl/messages/message/title"/>
          <element name="concepts" type="bdl/entities/entity/concepts"/>
        </choice>
      </sequence>
    </sequence>
    <attribute name="is_a" type="string"/>
    <attribute name="name" type="string"/>
    <attribute name="type" type="string"/>
    <attribute name="size" type="string"/>
    <attribute name="target" type="string"/>
    <attribute name="required" type="string"/>
    <attribute name="validator" type="string"/>
    <attribute name="equired" type="string"/>
  </complexType>
  <complexType name="bdl/entities/entity/attributes">
    <sequence minOccurs="0" maxOccurs="1">
      <sequence minOccurs="1" maxOccurs="unbounded">
        <choice>
          <element name="attribute" type="entities/entity/attributes/attribute"/>
          <element name="categories" type="entities/entity/attributes/categories"/>
          <element name="semantic" type="entities/entity/attributes/semantic"/>
          <element name="condition" type="entities/entity/attributes/condition"/>
          <element name="attribut" type="messages/message/title/text"/>
        </choice>
      </sequence>
    </sequence>
  </complexType>
  <complexType name="entity/references/ref/target">
    <sequence minOccurs="0" maxOccurs="1">
      <element name="filters" type="references/ref/target/filters"/>
    </sequence>
    <attribute name="name" type="string" use="required"/>
    <attribute name="id" type="string" use="required"/>
    <attribute name="alias" type="string"/>
    <attribute name="inherit" type="string"/>
  </complexType>
  <complexType name="entities/entity/references/ref">
    <sequence minOccurs="0" maxOccurs="1">
      <sequence minOccurs="1" maxOccurs="unbounded">
        <choice>
          <element name="target" type="entity/references/ref/target"/>
          <element name="connection" type="entity/references/ref/connection"/>
          <element name="src" type="messages/message/title/text"/>
          <element name="comment" type="messages/message/title/text"/>
          <element name="description" type="messages/message/title/text"/>
          <element name="label" type="bdl/messages/message/title"/>
        </choice>
      </sequence>
    </sequence>
    <attribute name="name" type="string" use="required"/>
    <attribute name="binding" type="string"/>
    <attribute name="relation" type="string" use="required"/>
    <attribute name="target" type="string"/>
    <attribute name="base" type="string"/>
  </complexType>
  <complexType name="bdl/entities/entity/references">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <element name="ref" type="entities/entity/references/ref"/>
    </sequence>
  </complexType>
  <complexType name="bdl/entities/entity">
    <sequence minOccurs="1" maxOccurs="unbounded">
      <choice>
        <element name="attributes" type="bdl/entities/entity/attributes"/>
        <element name="references" type="bdl/entities/entity/references"/>
        <element name="concepts" type="bdl/entities/entity/concepts"/>
        <element name="properties" type="bdl/entities/entity/properties"/>
        <element name="semantic" type="bdl/entities/entity/semantic"/>
        <element name="access" type="bdl/entities/entity/access"/>
        <element name="categories" type="bdl/entities/entity/categories"/>
        <element name="keys" type="bdl/entities/entity/keys"/>
        <element name="comment" type="messages/message/title/text"/>
        <element name="description" type="bdl/messages/message/title"/>
        <element name="label" type="bdl/messages/message/title"/>
        <element name="lable" type="bdl/messages/message/title"/>
      </choice>
    </sequence>
    <attribute name="name" type="string" use="required"/>
  </complexType>
  <complexType name="bdl/entities">
    <sequence>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="entity" type="bdl/entities/entity"/>
      </sequence>
      <sequence minOccurs="0" maxOccurs="1">
        <element name="references" type="bdl/entities/references"/>
      </sequence>
    </sequence>
  </complexType>
  <complexType name="entity/attributes/attribute/display">
    <sequence minOccurs="0" maxOccurs="1">
      <choice>
        <element name="table" type="messages/message/title/text"/>
        <element name="text" type="messages/message/title/text"/>
        <element name="overview" type="messages/message/title/text"/>
      </choice>
    </sequence>
    <attribute name="field" type="string"/>
    <attribute name="type" type="string"/>
  </complexType>
  <complexType name="bdl/components/component/fields">
    <sequence minOccurs="0" maxOccurs="1">
      <sequence>
        <element name="id" type="messages/message/title/text"/>
        <element name="value" type="messages/message/title/text"/>
        <element name="order" type="messages/message/title/text"/>
      </sequence>
    </sequence>
    <attribute name="value" type="string"/>
    <attribute name="id" type="string"/>
    <attribute name="join" type="string"/>
    <attribute name="srcId" type="string"/>
  </complexType>
  <complexType name="bdl/components/component">
    <choice>
      <sequence>
        <sequence minOccurs="0" maxOccurs="1">
          <element name="source" type="attributes/attribute/identField/paths"/>
        </sequence>
        <element name="head" type="bdl/components/component/head"/>
        <sequence minOccurs="0" maxOccurs="1">
          <element name="body" type="bdl/components/component/body"/>
        </sequence>
      </sequence>
      <sequence>
        <sequence minOccurs="0" maxOccurs="1">
          <sequence>
            <sequence minOccurs="0" maxOccurs="unbounded">
              <element name="label" type="bdl/messages/message/title"/>
            </sequence>
            <sequence minOccurs="0" maxOccurs="1">
              <element name="description" type="bdl/messages/message/title"/>
            </sequence>
          </sequence>
        </sequence>
        <element name="fields" type="bdl/components/component/fields"/>
        <sequence minOccurs="0" maxOccurs="1">
          <element name="filters" type="bdl/components/component/filters"/>
        </sequence>
      </sequence>
    </choice>
    <attribute name="name" type="string"/>
    <attribute name="src" type="string" use="required"/>
    <attribute name="type" type="string" use="required"/>
  </complexType>
  <complexType name="bdl/components">
    <sequence minOccurs="1" maxOccurs="unbounded">
      <choice>
        <element name="component" type="bdl/components/component"/>
        <element name="component_ex" type="bdl/components/component_ex"/>
      </choice>
    </sequence>
  </complexType>
  <complexType name="bdl/entities/entity/concepts">
    <element name="concept" type="messages/message/title/text"/>
  </complexType>
  <complexType name="entity/references/ref/connection">
    <element name="attributes" type="references/ref/connection/attributes"/>
    <attribute name="name" type="string" use="required"/>
  </complexType>
  <complexType name="references/ref/connection/attributes">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <element name="attribute" type="messages/message/title/text"/>
    </sequence>
  </complexType>
  <complexType name="entity/attributes/categories/category">
    <sequence minOccurs="0" maxOccurs="1">
      <sequence>
        <sequence minOccurs="0" maxOccurs="1">
          <choice>
            <element name="layout" type="attributes/categories/category/layout"/>
            <element name="access" type="attributes/categories/category/access"/>
          </choice>
        </sequence>
        <element name="label" type="attributes/categories/category/label"/>
      </sequence>
    </sequence>
    <attribute name="name" type="string"/>
    <attribute name="label" type="string"/>
    <attribute name="main" type="string"/>
    <attribute name="type" type="string"/>
  </complexType>
  <complexType name="entities/entity/attributes/categories">
    <choice>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="category" type="entity/attributes/categories/category"/>
      </sequence>
      <element name="group" type="messages/message/title/text"/>
    </choice>
  </complexType>
  <complexType name="entity/attributes/attribute/uiElement" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <choice>
        <element name="filters" type="attributes/attribute/uiElement/filters"/>
        <sequence minOccurs="0" maxOccurs="unbounded">
          <element name="field" type="messages/message/title/text"/>
        </sequence>
        <sequence>
          <element name="layout" type="messages/message/title/text"/>
          <element name="size" type="messages/message/title/text"/>
        </sequence>
      </choice>
    </sequence>
    <attribute name="type" type="string" use="required"/>
    <attribute name="class" type="string"/>
    <attribute name="size" type="string"/>
    <attribute name="src" type="string"/>
    <attribute name="readonly" type="string"/>
    <attribute name="hardcoded" type="string"/>
    <attribute name="filter" type="string"/>
  </complexType>
  <complexType name="entity/attributes/attribute/identField">
    <sequence minOccurs="0" maxOccurs="1">
      <element name="paths" type="attributes/attribute/identField/paths"/>
    </sequence>
    <attribute name="src" type="string"/>
    <attribute name="field" type="string"/>
    <attribute name="srcId" type="string"/>
    <attribute name="targetId" type="string"/>
  </complexType>
  <complexType name="entities/entity/attributes/semantic">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <element name="group" type="messages/message/title/text"/>
    </sequence>
  </complexType>
  <complexType name="entities/entity/properties/component">
    <element name="fields" type="messages/message/title/text"/>
    <attribute name="type" type="string" use="required"/>
  </complexType>
  <complexType name="bdl/entities/entity/properties">
    <sequence minOccurs="0" maxOccurs="1">
      <element name="component" type="entities/entity/properties/component"/>
    </sequence>
  </complexType>
  <complexType name="entities/entity/semantic/tags">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <element name="tag" type="messages/message/title/text"/>
    </sequence>
  </complexType>
  <complexType name="bdl/entities/entity/semantic">
    <sequence minOccurs="0" maxOccurs="1">
      <choice>
        <element name="concepts" type="bdl/entities/entity/concepts"/>
        <sequence>
          <sequence minOccurs="0" maxOccurs="1">
            <element name="parent" type="entities/entity/semantic/parent"/>
          </sequence>
          <element name="tags" type="entities/entity/semantic/tags"/>
        </sequence>
      </choice>
    </sequence>
  </complexType>
  <complexType name="bdl/entities/entity/access">
    <element name="acl" type="messages/message/title/text"/>
  </complexType>
  <complexType name="attributes/categories/category/label">
    <element name="text" type="messages/message/title/text"/>
  </complexType>
  <complexType name="bdl/entities/references/ref">
    <sequence>
      <element name="label" type="messages/message/title/text"/>
      <element name="src" type="messages/message/title/text"/>
      <element name="connection" type="entity/references/ref/connection"/>
      <element name="target" type="messages/message/title/text"/>
    </sequence>
    <attribute name="name" type="string" use="required"/>
    <attribute name="binding" type="string" use="required"/>
    <attribute name="relation" type="string" use="required"/>
  </complexType>
  <complexType name="bdl/entities/references">
    <element name="ref" type="bdl/entities/references/ref"/>
  </complexType>
  <complexType name="ref/target/filters/filter">
    <element name="description" type="messages/message/title/text"/>
    <attribute name="srcField" type="string" use="required"/>
    <attribute name="targetField" type="string" use="required"/>
  </complexType>
  <complexType name="references/ref/target/filters">
    <element name="filter" type="ref/target/filters/filter"/>
  </complexType>
  <complexType name="attributes/attribute/events/onUpdate">
    <element name="update" type="messages/message/title/text"/>
  </complexType>
  <complexType name="entity/attributes/attribute/events">
    <element name="onUpdate" type="attributes/attribute/events/onUpdate"/>
  </complexType>
  <complexType name="bdl/processes/process/status">
    <element name="reference" type="messages/message/title/text"/>
    <attribute name="src" type="string" use="required"/>
    <attribute name="id" type="string" use="required"/>
  </complexType>
  <complexType name="process/node/events/onArrive">
    <sequence minOccurs="0" maxOccurs="1">
      <element name="acl" type="node/events/onArrive/acl"/>
    </sequence>
  </complexType>
  <complexType name="processes/process/node/events">
    <sequence>
      <element name="onArrive" type="process/node/events/onArrive"/>
      <sequence minOccurs="0" maxOccurs="1">
        <sequence>
          <element name="onDeadline" type="messages/message/title/text"/>
          <element name="onFallback" type="messages/message/title/text"/>
        </sequence>
      </sequence>
      <element name="onLeave" type="messages/message/title/text"/>
    </sequence>
  </complexType>
  <complexType name="node/paths/path/acl">
    <sequence minOccurs="0" maxOccurs="1">
      <element name="owner" type="messages/message/title/text"/>
    </sequence>
  </complexType>
  <complexType name="path/always/action/param" mixed="true">
    <sequence minOccurs="0" maxOccurs="1">
      <choice>
        <element name="owner" type="messages/message/title/text"/>
        <element name="group" type="messages/message/title/text"/>
      </choice>
    </sequence>
  </complexType>
  <complexType name="paths/path/always/action">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <element name="param" type="path/always/action/param"/>
    </sequence>
    <attribute name="name" type="string" use="required"/>
  </complexType>
  <complexType name="node/paths/path/always">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <element name="action" type="paths/path/always/action"/>
    </sequence>
  </complexType>
  <complexType name="process/node/paths/path">
    <sequence>
      <element name="label" type="messages/message/title/text"/>
      <sequence minOccurs="0" maxOccurs="1">
        <element name="description" type="messages/message/title/text"/>
      </sequence>
      <element name="acl" type="node/paths/path/acl"/>
      <sequence minOccurs="0" maxOccurs="1">
        <sequence>
          <sequence minOccurs="0" maxOccurs="1">
            <sequence>
              <element name="check" type="node/paths/path/check"/>
              <element name="success" type="messages/message/title/text"/>
              <element name="fail" type="messages/message/title/text"/>
            </sequence>
          </sequence>
          <element name="always" type="node/paths/path/always"/>
        </sequence>
      </sequence>
    </sequence>
    <attribute name="target" type="string" use="required"/>
  </complexType>
  <complexType name="paths/path/check/field">
    <element name="required" type="messages/message/title/text"/>
    <attribute name="field" type="string" use="required"/>
    <attribute name="src" type="string" use="required"/>
  </complexType>
  <complexType name="node/paths/path/check">
    <element name="field" type="paths/path/check/field"/>
  </complexType>
  <complexType name="processes/process/node/paths">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <element name="path" type="process/node/paths/path"/>
    </sequence>
  </complexType>
  <complexType name="bdl/processes/process/node">
    <sequence minOccurs="1" maxOccurs="unbounded">
      <choice>
        <element name="events" type="processes/process/node/events"/>
        <element name="paths" type="processes/process/node/paths"/>
        <element name="activ" type="processes/process/node/activ"/>
        <element name="startpoint" type="messages/message/title/text"/>
        <element name="endpoint" type="messages/message/title/text"/>
        <element name="label" type="messages/message/title/text"/>
      </choice>
    </sequence>
    <attribute name="name" type="string" use="required"/>
    <attribute name="target" type="string"/>
  </complexType>
  <complexType name="node/events/onArrive/acl">
    <element name="group" type="messages/message/title/text"/>
  </complexType>
  <complexType name="processes/process/node/activ">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <element name="target" type="messages/message/title/text"/>
    </sequence>
  </complexType>
  <complexType name="bdl/processes/process">
    <sequence>
      <element name="status" type="bdl/processes/process/status"/>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="node" type="bdl/processes/process/node"/>
      </sequence>
    </sequence>
    <attribute name="name" type="string" use="required"/>
    <attribute name="src" type="string" use="required"/>
  </complexType>
  <complexType name="bdl/processes">
    <element name="process" type="bdl/processes/process"/>
  </complexType>
  <complexType name="attributes/attribute/identField/paths">
    <element name="path" type="messages/message/title/text"/>
    <attribute name="name" type="string"/>
  </complexType>
  <complexType name="bdl/entities/entity/categories">
    <sequence minOccurs="0" maxOccurs="1">
      <element name="category" type="messages/message/title/text"/>
    </sequence>
    <attribute name="main" type="string" use="required"/>
  </complexType>
  <complexType name="bdl/components/component/filters">
    <element name="filter" type="messages/message/title/text"/>
  </complexType>
  <complexType name="components/component/head/properties">
    <sequence>
      <element name="close" type="messages/message/title/text"/>
      <element name="max" type="messages/message/title/text"/>
    </sequence>
  </complexType>
  <complexType name="head/bars/title/menus">
    <sequence>
      <element name="left" type="messages/message/title/text"/>
      <element name="right" type="messages/message/title/text"/>
    </sequence>
  </complexType>
  <complexType name="component/head/bars/title">
    <sequence>
      <element name="menus" type="head/bars/title/menus"/>
      <element name="text" type="messages/message/title/text"/>
    </sequence>
  </complexType>
  <complexType name="components/component/head/bars">
    <sequence>
      <element name="title" type="component/head/bars/title"/>
      <element name="status" type="component/head/bars/title"/>
      <element name="info" type="messages/message/title/text"/>
      <element name="action" type="messages/message/title/text"/>
    </sequence>
  </complexType>
  <complexType name="bdl/components/component/head">
    <choice>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="field" type="components/component/head/field"/>
      </sequence>
      <sequence>
        <element name="size" type="messages/message/title/text"/>
        <element name="properties" type="components/component/head/properties"/>
        <element name="bars" type="components/component/head/bars"/>
        <element name="access" type="messages/message/title/text"/>
        <element name="events" type="messages/message/title/text"/>
      </sequence>
    </choice>
    <attribute name="unit" type="string"/>
  </complexType>
  <complexType name="body/tab/head/properties">
    <sequence>
      <element name="closable" type="messages/message/title/text"/>
      <element name="readonly" type="messages/message/title/text"/>
      <element name="disabled" type="messages/message/title/text"/>
      <element name="reload" type="messages/message/title/text"/>
      <element name="hidden" type="messages/message/title/text"/>
    </sequence>
  </complexType>
  <complexType name="component/body/tab/head">
    <sequence>
      <element name="properties" type="body/tab/head/properties"/>
      <element name="label" type="messages/message/title/text"/>
      <element name="tooltip" type="messages/message/title/text"/>
      <element name="access" type="messages/message/title/text"/>
      <element name="constraint" type="messages/message/title/text"/>
      <element name="events" type="messages/message/title/text"/>
    </sequence>
  </complexType>
  <complexType name="body/tab/body/row">
    <sequence>
      <element name="caption" type="bdl/messages/message/title"/>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="col" type="bdl/messages/message/title"/>
      </sequence>
    </sequence>
    <attribute name="name" type="string" use="required"/>
    <attribute name="type" type="string" use="required"/>
  </complexType>
  <complexType name="component/body/tab/body">
    <element name="row" type="body/tab/body/row"/>
  </complexType>
  <complexType name="components/component/body/tab">
    <sequence>
      <element name="head" type="component/body/tab/head"/>
      <element name="body" type="component/body/tab/body"/>
    </sequence>
    <attribute name="name" type="string" use="required"/>
  </complexType>
  <complexType name="bdl/components/component/body">
    <element name="tab" type="components/component/body/tab"/>
  </complexType>
  <complexType name="content/tab/row/col">
    <sequence minOccurs="0" maxOccurs="1">
      <choice>
        <element name="entity" type="messages/message/title/text"/>
        <element name="text" type="messages/message/title/text"/>
      </choice>
    </sequence>
    <attribute name="size" type="string"/>
    <attribute name="type" type="string"/>
    <attribute name="key" type="string"/>
  </complexType>
  <complexType name="component_ex/content/tab/row">
    <choice>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="cms" type="messages/message/title/text"/>
      </sequence>
      <element name="html" type="messages/message/title/text"/>
      <element name="template" type="messages/message/title/text"/>
      <element name="ref" type="messages/message/title/text"/>
      <element name="entity" type="messages/message/title/text"/>
      <element name="text" type="messages/message/title/text"/>
      <sequence>
        <element name="access" type="messages/message/title/text"/>
        <element name="constraint" type="messages/message/title/text"/>
        <element name="category" type="messages/message/title/text"/>
      </sequence>
      <sequence>
        <sequence minOccurs="0" maxOccurs="1">
          <element name="caption" type="attributes/categories/category/label"/>
        </sequence>
        <sequence minOccurs="0" maxOccurs="unbounded">
          <element name="col" type="content/tab/row/col"/>
        </sequence>
      </sequence>
    </choice>
    <attribute name="name" type="string"/>
    <attribute name="type" type="string"/>
  </complexType>
  <complexType name="components/component_ex/content/tab">
    <sequence>
      <element name="properties" type="body/tab/head/properties"/>
      <element name="label" type="messages/message/title/text"/>
      <element name="tooltip" type="messages/message/title/text"/>
      <element name="access" type="messages/message/title/text"/>
      <element name="constraint" type="messages/message/title/text"/>
      <element name="events" type="messages/message/title/text"/>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="row" type="component_ex/content/tab/row"/>
      </sequence>
    </sequence>
    <attribute name="name" type="string" use="required"/>
  </complexType>
  <complexType name="bdl/components/component_ex/content">
    <element name="tab" type="components/component_ex/content/tab"/>
  </complexType>
  <complexType name="bdl/components/component_ex">
    <sequence>
      <element name="size" type="messages/message/title/text"/>
      <element name="properties" type="components/component/head/properties"/>
      <element name="bars" type="components/component/head/bars"/>
      <element name="access" type="messages/message/title/text"/>
      <element name="events" type="messages/message/title/text"/>
      <element name="content" type="bdl/components/component_ex/content"/>
    </sequence>
    <attribute name="type" type="string" use="required"/>
    <attribute name="name" type="string" use="required"/>
    <attribute name="src" type="string" use="required"/>
  </complexType>
  <complexType name="attributes/categories/category/layout">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <element name="col" type="messages/message/title/text"/>
    </sequence>
  </complexType>
  <complexType name="categories/category/access/acl">
    <sequence>
      <element name="role" type="messages/message/title/text"/>
      <element name="owner" type="messages/message/title/text"/>
      <element name="responsible" type="messages/message/title/text"/>
      <element name="user" type="messages/message/title/text"/>
    </sequence>
    <attribute name="type" type="string" use="required"/>
  </complexType>
  <complexType name="attributes/categories/category/access">
    <element name="acl" type="categories/category/access/acl"/>
  </complexType>
  <complexType name="managements/management/semantic/genders">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <element name="gender" type="messages/message/title/text"/>
    </sequence>
  </complexType>
  <complexType name="bdl/managements/management/semantic">
    <element name="genders" type="managements/management/semantic/genders"/>
  </complexType>
  <complexType name="bdl/managements/management/events">
    <sequence>
      <element name="onInsert" type="messages/message/title/text"/>
      <element name="onUpdate" type="messages/message/title/text"/>
    </sequence>
  </complexType>
  <complexType name="management/view/condition/if">
    <choice>
      <element name="entity" type="messages/message/title/text"/>
      <element name="group_role" type="messages/message/title/text"/>
    </choice>
  </complexType>
  <complexType name="management/view/condition/then">
    <element name="form_edit" type="messages/message/title/text"/>
  </complexType>
  <complexType name="managements/management/view/condition">
    <sequence>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="if" type="management/view/condition/if"/>
      </sequence>
      <element name="then" type="management/view/condition/then"/>
    </sequence>
  </complexType>
  <complexType name="bdl/managements/management/view">
    <sequence>
      <element name="insert" type="messages/message/title/text"/>
      <element name="update" type="messages/message/title/text"/>
      <element name="table" type="messages/message/title/text"/>
      <element name="overview" type="messages/message/title/text"/>
      <element name="form_insert" type="messages/message/title/text"/>
      <element name="form_edit" type="messages/message/title/text"/>
      <element name="condition" type="managements/management/view/condition"/>
    </sequence>
  </complexType>
  <complexType name="bdl/managements/management/references">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <element name="ref" type="messages/message/title/text"/>
    </sequence>
  </complexType>
  <complexType name="bdl/managements/management">
    <sequence>
      <element name="label" type="bdl/messages/message/title"/>
      <element name="description" type="bdl/messages/message/title"/>
      <element name="semantic" type="bdl/managements/management/semantic"/>
      <element name="events" type="bdl/managements/management/events"/>
      <element name="view" type="bdl/managements/management/view"/>
      <element name="references" type="bdl/managements/management/references"/>
    </sequence>
    <attribute name="name" type="string" use="required"/>
    <attribute name="src" type="string" use="required"/>
  </complexType>
  <complexType name="bdl/managements">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <element name="management" type="bdl/managements/management"/>
    </sequence>
  </complexType>
  <complexType name="attributes/attribute/uiElement/filters">
    <element name="filter" type="entity/attributes/attribute/identField"/>
    <attribute name="name" type="string"/>
  </complexType>
  <complexType name="entities/entity/keys/primaryKey">
    <element name="key" type="messages/message/title/text"/>
  </complexType>
  <complexType name="bdl/entities/entity/keys">
    <element name="primaryKey" type="entities/entity/keys/primaryKey"/>
  </complexType>
  <complexType name="components/component/head/field">
    <choice>
      <element name="size" type="messages/message/title/text"/>
      <element name="color" type="messages/message/title/text"/>
      <element name="label" type="messages/message/title/text"/>
      <element name="sum" type="messages/message/title/text"/>
    </choice>
    <attribute name="name" type="string" use="required"/>
    <attribute name="src" type="string"/>
    <attribute name="type" type="string"/>
  </complexType>
  <complexType name="entity/attributes/condition/if">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <element name="attribute" type="messages/message/title/text"/>
    </sequence>
    <attribute name="exists" type="string" use="required"/>
  </complexType>
  <complexType name="entity/attributes/condition/else">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <element name="attribute" type="messages/message/title/text"/>
    </sequence>
  </complexType>
  <complexType name="entities/entity/attributes/condition">
    <sequence>
      <element name="if" type="entity/attributes/condition/if"/>
      <element name="else" type="entity/attributes/condition/else"/>
    </sequence>
  </complexType>
  <complexType name="entities/entity/semantic/parent">
    <element name="uiElement" type="messages/message/title/text"/>
    <attribute name="target" type="string" use="required"/>
  </complexType>
</schema>
