tests/visitor/data/simple.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/generated" elementFormDefault="qualified">
  <element name="root" type="root"/>
  <complexType name="root">
    <sequence>
      <element name="alpha"/>
      <element name="beta"/>
    </sequence>
  </complexType>
</schema>
