tests/visitor/data/simple_3.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/gegenrated" elementFormDefault="qualified">
  <element name="root" type="root"/>
  <complexType name="root">
    <sequence>
      <element name="alpha"/>
      <sequence minOccurs="0" maxOccurs="1">
        <element name="optional"/>
      </sequence>
      <element name="beta"/>
    </sequence>
  </complexType>
  <element name="xml" type="xml"/>
  <complexType name="xml">
    <element name="root" type="root"/>
  </complexType>
</schema>
