tests/visitor/data/simple_5.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/generated" elementFormDefault="qualified">
  <complexType name="alpha">
    <simpleContent>
      <extension base="string">
        <attribute name="attr" type="string"/>
      </extension>
    </simpleContent>
  </complexType>
  <element name="root" type="root"/>
  <complexType name="root">
    <sequence>
      <element name="alpha" type="alpha"/>
      <sequence minOccurs="0" maxOccurs="1">
        <element name="optional"/>
      </sequence>
      <element name="beta" type="string"/>
    </sequence>
  </complexType>
</schema>
