tests/visitor/data/simple.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/gegenrated" elementFormDefault="qualified">
  <complexType name="alpha">
    <!--Empty regular expression-->
  </complexType>
  <complexType name="beta">
    <!--Empty regular expression-->
  </complexType>
  <element name="root" type="root"/>
  <complexType name="root">
    <sequence>
      <element name="alpha" type="alpha"/>
      <element name="beta" type="beta"/>
    </sequence>
  </complexType>
</schema>
